{{define "content"}}
{{with .SubContext}}
<div id="promotions-page">
	<div id="base-header" class="text-center">
		<a href="/"><img src="{{staticURL "/img/logo@2x.png"}}" width="225" height="61" alt="Spruce Logo"></a>
	</div>

	<div class="header">
		<div>
			{{template "header" .}}
		</div>
	</div>

	{{template "looking" .}}

	<div class="info">
		<div>
			<h2>HOW SPRUCE WORKS</h2>

			<div class="variant1">
				<img src="{{staticURL "/img/home/icon_camera@2x.png"}}" width="96" height="96" alt="Camera Icon">
				<p>Take photos and answer questions about your skin and medical history.</p>
				<img src="{{staticURL "/img/home/icon_visit@2x.png"}}" width="96" height="96" alt="Clipboard Icon">
				<p>In 24 hours get a personalized treatment plan from a board-certified dermatologist.</p>
				<img src="{{staticURL "/img/home/icon_rx@2x.png"}}" width="96" height="96" alt="Clipboard Icon">
				<p>Any medications your doctor prescribes are automatically sent to your pharmacy.</p>
			</div>
		</div>
	</div>

	<div class="featured">
		<div>
			<h2>FEATURED BY</h2>

			<img src="{{staticURL "/img/press/press_wired_promo.png"}}" width="200" height="40" alt="Wired">
			<img src="{{staticURL "/img/press/press_cosmo_promo.png"}}" width="200" height="40" alt="Cosmo"><br>
			<img src="{{staticURL "/img/press/press_self_promo.png"}}" width="200" height="40" alt="SELF">
			<img src="{{staticURL "/img/press/press_nymag_promo.png"}}" width="200" height="40" alt="New York Magazine">
			<img src="{{staticURL "/img/press/press_instyle_promo.png"}}" width="200" height="40" alt="InStyle">
		</div>
	</div>
</div>
{{end}}
{{end}}
{{define "looking"}}{{end}}
