{{define "base-menu-about-class"}}active{{end}}
{{define "head"}}
{{end}}
{{define "tail"}}
	<script type="text/javascript">
		$(function() {
			$(".variant"+variation).removeClass("hidden");
		});
	</script>
{{end}}
{{define "content"}}
{{with .SubContext}}
<div id="promotions-page">
	<div id="base-header" class="text-center">
		<a href="/"><img src="{{staticURL "/img/logo@2x.png"}}" width="225" height="61" alt="Spruce Logo"></a>
	</div>

	<div class="header">
		<div>
			{{template "header" .}}
		</div>
	</div>

	{{template "looking" .}}

	<div class="info">
		<div>
			<h2>HOW SPRUCE WORKS</h2>

			{{/* Experiment Variant 0 */}}
			<div class="variant0 hidden">
				<iframe src="//player.vimeo.com/video/106692638?badge=0&amp;byline=0&amp;title=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
			</div>

			{{/* Experiment Variant 1 */}}
			<div class="variant1 hidden">
				<img src="{{staticURL "/img/home/icon_camera@2x.png"}}" width="96" height="96" alt="Camera Icon">
				<p>Take photos and answer questions about your skin and medical history.</p>
				<img src="{{staticURL "/img/home/icon_visit@2x.png"}}" width="96" height="96" alt="Clipboard Icon">
				<p>In 24 hours get a personalized treatment plan from a board-certified dermatologist.</p>
				<img src="{{staticURL "/img/home/icon_rx@2x.png"}}" width="96" height="96" alt="Clipboard Icon">
				<p>Any medications your doctor prescribes are automatically sent to your pharmacy.</p>
			</div>
		</div>
	</div>

	<div class="featured">
		<div>
			<h2>FEATURED BY</h2>

			<img src="{{staticURL "/img/promotions/press_wired_promo.png"}}" width="200" height="40" alt="Wired">
			<img src="{{staticURL "/img/promotions/press_cosmo_promo.png"}}" width="200" height="40" alt="Wired"><br>
			<img src="{{staticURL "/img/promotions/press_self_promo.png"}}" width="200" height="40" alt="Wired">
			<img src="{{staticURL "/img/promotions/press_nymag_promo.png"}}" width="200" height="40" alt="Wired">
			<img src="{{staticURL "/img/promotions/press_instyle_promo.png"}}" width="200" height="40" alt="Wired">
		</div>
	</div>
</div>
{{end}}
{{end}}
{{define "looking"}}{{end}}
