{{define "header"}}
	{{if .Message}}
		<h1>{{.Message}}</h1>
	{{else}}
		{{with .Promo.ImageURL}}
			<img src="{{.}}" alt="promotional image" class="promo-image">
		{{end}}

		<h1>{{.Promo.Title}}</h1>

		<p>Sign up to be notified when Spruce is available on Android and we’ll hold onto your discount for you. </p>

		<form method="POST" action="" role="form">
			{{with .Errors.email}}<div class="form-error">{{.}}</div>{{end}}
			<input name="email" type="email" class="form-control" value="{{.Email}}" placeholder="Your Email Address" required>
			{{with .Errors.state}}<div class="form-error">{{.}}</div>{{end}}
			<select name="state" class="form-control" required>
				<option value="">Select Your State</option>
				{{$state := .State}}
				{{range .States}}
					<option value="{{.Abbreviation}}" {{if eq $state .Abbreviation}}selected{{end}}>{{.Name}}</option>
				{{end}}
			</select>
			<button type="submit" name="notify" class="btn btn-primary">Notify Me</button>
		</form>
	{{end}}
{{end}}
