{{define "body"}}
	{{if .Sent}}
		<p>An email with a link to reset your password has been sent to <strong>{{.Email}}</strong>. Please check your inbox.</p>

		<p>If the email does not arrive you can <a href="">try sending the email again</a> or contact <a href="mailto:{{.SupportEmail}}">Spruce&nbsp;Support</a>.
	{{else}}
		<p>Enter your email address, and we will email you a link which you	can use to reset your password.</p>

		<hr>

		{{with .Error}}<div class="alert alert-danger" role="alert">{{.}}</div>{{end}}

		<form action="" method="POST" role="form">

		<div class="form-group {{if .Error}}has-error has-feedback{{end}}">
			<label class="control-label" for="email">Email address</label>
			<input required type="email" id="email" name="email" value="{{.Email}}" class="form-control" autocapitalize="off">
		</div>

		<button class="center-block btn btn-primary">Send Email</button>
		</form>
	{{end}}
{{end}}
