{{define "head"}}
<style type="text/css">
input[name=password1] {
	margin-bottom: 0;
}
input[name=password2] {
	border-top: 0;
	margin-top: 0;
}
</style>
{{end}}

{{define "body"}}
<h1>Spruce</h1>

<div class="box">
	{{if .Done}}
		<p>You've successfully changed your password.</p>

		<p>Use your new password to log in to your Spruce account.</p>
	{{else}}
		<p>Account successfully verified. Now reset your password.

		{{if .Errors}}
		<ul>
			{{range .Errors}}
			<li class="error">{{.}}</li>
			{{end}}
		</ul>
		{{end}}

		<form method="POST" action="">
		<input type="hidden" name="token" value="{{.Token}}">
		<input type="hidden" name="email" value="{{.Email}}">
		<input type="password" name="password1" placeholder="New Password"><br>
		<input type="password" name="password2" placeholder="Confirm Password"><br>
		<button>Reset Password</button>
	{{end}}
</div>

<div id="footer">Need additional help? Contact <a href="mailto:{{.SupportEmail}}">Spruce&nbsp;Support</a>.</div>
{{end}}
