{{define "baseHead"}}
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/base.css"}}">
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/dronboard.css"}}">
<script type="text/javascript">
var Spruce = {
	BaseStaticURL: {{staticURL ""}}
};
</script>
{{template "head" .}}
{{end}}
{{define "head"}}{{end}}

{{define "baseTail"}}
<script type="text/javascript">
	$(function() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1;
		var yyyy = today.getFullYear();
		if (dd<10) {
			dd = '0'+dd;
		}
		if (mm<10) {
			mm = '0'+mm;
		}
		$(".current-date").html(mm+'/'+dd+'/'+yyyy);
	});
</script>
{{if isEnv "dev"}}
<script src="{{staticURL "/js/dronboard.dev.js"}}" type="text/javascript"></script>
{{else}}
<script src="{{staticURL "/js/dronboard.min.js"}}" type="text/javascript"></script>
{{end}}
{{template "tail" .}}
{{end}}
{{define "tail"}}{{end}}

{{define "footer"}}
<span class="glyphicon glyphicon-lock"></span>
Secured by Spruce
{{end}}

{{define "fieldError"}}
	{{if .}}<div class="alert alert-danger" role="alert">{{.}}</div>{{end}}
{{end}}

{{define "baseBody"}}
	<div id="base-content" class="container">
	{{template "body" .}}
	</div>

	<div id="base-footer" class="container">
	{{template "footer" .}}
	</div>
{{end}}
