{{define "head"}}
<style type="text/css">
html, body {
	background-color: #E8F0F3;
}
body {
	padding-bottom: 20px;
}
#base-content {
	margin-top: 30px;
	background-color: #FFF;
	max-width: 700px;
	border-radius: 6px;
}
#base-footer {
	color: #8B9FA7;
	margin-top: 20px;
	text-align: center;
}
h2 small {
	font-size: 60%;
	font-weight: 400;
	color: #8B9FA7;
}
h3 {
	font-size: 21px;
	font-weight: 500;
	color: #1E333A;
}
label {
	color: #506066;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #C5D3D8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #C5D3D8;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #C5D3D8;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #C5D3D8;
}
label .subtext {
	font-weight: 400;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	position: static;
	margin-left: 0;
}
.credentials .checkbox {
	font-weight: bold;
}
.btn-primary {
	background-color: #08C4B9;
	border: 0;
}
.btn-primary:hover {
	background-color: #21E0D5;
}
.btn {
	font-weight: 500;
	border-radius: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.form-onboard {
	padding: 15px;
}
.form-onboard h1, .form-onboard h2, .form-onboard h3 {
	margin-bottom: 20px;
}
.form-onboard fieldset {
	/*padding-left: 30px;*/
}
p.subtitle {
	font-size: 18px;
	font-weight: 400;
	color: #777;
	margin-top: -15px;
	margin-bottom: 25px;
}
.state-license {
	text-transform: capitalize;
}
.form-table th {
	font-weight: normal;
}
.form-table>thead>tr>td, .form-table>tbody>tr>td, .form-table>tfoot>tr>td {
	border: 0;
}
.message {
	width: 700px;
	margin: 30px auto 0 auto;
	padding: 20px;
	font-size: 17px;
}
.vertical-input-group > input.form-control:first-child:not(:last-child) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.vertical-input-group > input.form-control:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.vertical-input-group > input.form-control:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.faq address {
	border: 1px solid #ddd;
	padding: 10px;
	width: 300px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.faq dt {
	padding-top: 10px;
}
</style>
{{end}}

{{define "footer"}}
<span class="glyphicon glyphicon-lock"></span>
Secured by Spruce
{{end}}

{{define "fieldError"}}
	{{if .}}<div class="alert alert-danger" role="alert">{{.}}</div>{{end}}
{{end}}
