{{define "tail"}}
{{end}}

{{define "body"}}
	<form method="POST" action="" role="form" class="form-onboard">
		<h2>Engagement with Spruce</h2>

		<div class="form-group {{if .FormErrors.HoursPerWeek}}has-error has-feedback{{end}}">
			<label class="control-label" for="HoursPerWeek">Approximate hours on Spruce per week</label>
			<input type="text" name="HoursPerWeek" value="{{.Form.HoursPerWeek}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.TimesActive}}has-error has-feedback{{end}}">
			<label class="control-label" for="TimesActive">What days / time of day(s) would you expect to be most active on Spruce?</label>
			<input type="text" name="TimesActive" value="{{.Form.TimesActive}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.JacketSize}}has-error has-feedback{{end}}">
			<label class="control-label" for="JacketSize">Jacket size</label>
			<input type="text" name="JacketSize" value="{{.Form.JacketSize}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.Excitement}}has-error has-feedback{{end}}">
			<label class="control-label" for="Excitement">
				Why are you excited to be on Spruce?<br>
				<span style="font-weight:400">(this will be included in your Spruce profile visible to patients)</span>
			</label>
			<textarea name="Excitement" class="form-control" rows="5">{{.Form.Excitement}}</textarea>
		</div>

		<button type="submit" class="btn btn-primary center-block">Next</button>
	</form>
{{end}}
