{{define "head"}}
<style type="text/css">
.vertical-input-group > input.form-control:first-child:not(:last-child) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.vertical-input-group > input.form-control:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.vertical-input-group > input.form-control:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
</style>
{{end}}

{{define "tail"}}
{{end}}

{{define "body"}}
	<form method="POST" action="" role="form" class="form-onboard">
		<h2>Information for Malpractice Coverage</h2>

		<div class="form-group {{if .FormErrors.CurrentInsurer}}has-error has-feedback{{end}}">
			<label class="control-label" for="CurrentInsurer">Who is your current profressional liability insurer?</label>
			<input required type="text" name="CurrentInsurer" value="{{.Form.CurrentInsurer}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.PreviousInsurers}}has-error has-feedback{{end}}">
			<label class="control-label" for="PreviousInsurers">List all previous liability insurers within the past 5 years.</label>
			<div class="vertical-input-group">
				{{range $i, $v := .Form.PreviousInsurers}}
				<input type="text" name="PreviousInsurers.{{$i}}.Str" value="{{$v.Str}}" class="form-control">
				{{end}}
			</div>
		</div>

		<div class="form-group {{if .FormErrors.Violations}}has-error has-feedback{{end}}">
			<label class="control-label" for="Violations">
				Have you ever been indicted for, charged with, or convicted of any act committed in violation of any law, or ordinance other than traffic offenses? Or had your hospital privileges, DEA license, medical license, or reimbursement privileges refused, denied, revoked, suspended, restricted, subject to reprimand, placed on probation, or voluntarily surrendered?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="Violations" class="form-control" rows="2">{{.Form.Violations}}</textarea>
		</div>

		<div class="form-group {{if .FormErrors.InsuranceDeclines}}has-error has-feedback{{end}}">
			<label class="control-label" for="InsuranceDeclines">
				Has any professional liability insurance company ever declined, refused, canceled, or non-renewed your coverage or have you ever had an involuntary deductible or surcharge assessed against your policy?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="InsuranceDeclines" class="form-control" rows="2">{{.Form.InsuranceDeclines}}</textarea>
		</div>

		<div class="form-group {{if .FormErrors.SexualMisconduct}}has-error has-feedback{{end}}">
			<label class="control-label" for="SexualMisconduct">
				Have you ever been accused of sexual misconduct of any kind?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="SexualMisconduct" class="form-control" rows="2">{{.Form.SexualMisconduct}}</textarea>
		</div>

		<div class="form-group {{if .FormErrors.Impairments}}has-error has-feedback{{end}}">
			<label class="control-label" for="Impairments">
				Have you ever incurred or become aware of having a condition that impairs your ability to practice your medical specialty?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="Impairments" class="form-control" rows="2">{{.Form.Impairments}}</textarea>
		</div>

		<div class="form-group {{if .FormErrors.Claims}}has-error has-feedback{{end}}">
			<label class="control-label" for="Claims">
				Are you now, or have you ever been involved, in a claim or suit arising out of the rendering or failure to render professional services?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="Claims" class="form-control" rows="2">{{.Form.Claims}}</textarea>
		</div>

		<div class="form-group {{if .FormErrors.Incidents}}has-error has-feedback{{end}}">
			<label class="control-label" for="Incidents">
				Are you aware of any complication, incident or adverse outcome resulting in injury or death that might reasonably result in a claim or suit against you?
			</label>

			<p>If yes, please indicate the date(s) and explain.</p>
			<textarea name="Incidents" class="form-control" rows="2">{{.Form.Incidents}}</textarea>
		</div>

		<button type="submit" class="btn btn-primary pull-right">Submit</button>
	</form>
{{end}}
