{{define "body"}}
<h2>Spruce Malpractice Coverage FAQs</h2>

<dl class="faq">
	<dt>What coverage is provided by the Professional Liability policy in place for Spruce Physicians?</dt>
	<dd>Spruce Physicians has purchased a Claims Made Professional Liability policy through Lexington Insurance Company with a retroactive date of 07/07/2014.  This policy is tailored to provide full coverage for your telemedicine consultations while working on behalf of Spruce Physicians.    Lexington Insurance is a subsidiary of AIG.   An industry leader in property, casualty, specialty coverage, and program insurance, Lexington provides the liability policies for other leading telemedicine programs like American Well.</dd>

	<dt>Who is Covered?</dt>
	<dd>Coverage is provided for the physicians providing telemedicine services on behalf of Spruce Physicians, as well the entity or corporation itself.  Both the physicians and entity share in the limits of liability.</dd>

	<dt>What are the Policy Limits?</dt>
	<dd>$1,000,000 Each Medical Incident and $3,000,000 Annual Aggregate limits apply. There is no applicable deductible or retention.</dd>

	<dt>What is Claims Made Coverage and How Does it Work?   Is a “Tail” or ERP Necessary?</dt>
	<dd>In a Claims Made policy, the limits that apply to a claim are the limits that are in place at the time the claim is made, not at the time the services were rendered.  A Claims Made policy responds to claims which occur on or after the policy retroactive date of 07/07/2014 that are reported to the company during the policy term.  This policy is structured similar to a “roster” (e.g. physicians joining and leaving the roster at an urgent care clinic) so that as long as the entity policy is in place, individual physicians who stop providing care on Spruce do not need “tail” or ERP coverage.  A “tail” only needs to be purchased if Spruce Physicians cancels the policy with Lexington or changes the coverage to an Occurrence policy form.</dd>

	<dt>Who Pays for a “Tail” or ERP Should it Be Necessary?</dt>
	<dd>Should Spruce Physicians cancel the policy in question, the corporation agrees to purchase a “tail” or ERP provision.  This provides coverage for claims arising after the policy is cancelled.</dd>

	<dt>Who should I contact if I have a question about my Professional Liability coverage?</dt>
	<dd>
		HUB International is our commercial insurance broker and will assist in answering any questions that Spruce Physicians is unable to.  Please contact John Klepper or Jessica Kelley at:
		<div class="row">
			<address>
				<strong>John E. Klepper</strong><br>
				Vice Preseident<br>
				HUB Healthcare Solutions a Division of Hub International New England
				136 Turnpike Road, Suite 105, Southborough, MA 01772<br>
				<abbr title="Phone">Tel:</abbr> (508) 303-9474 / Fax: (508) 303-9478<br>
				<a href="mailto:john.klepper@hubinternational.com">john.klepper@hubinternational.com</a>
			</address>
			<address>
				<strong>Jessica A. Kelley, MBA</strong><br>
				Assistant Vice President<br>
				HUB Healthcare Solutions a Division of Hub International New England
				136 Turnpike Road, Suite 105, Southborough, MA 01772<br>
				<abbr title="Phone">Tel:</abbr> (508) 303-9473 / Fax: (866) 381-9476<br>
				<a href="mailto:jessica.kelley@hubinternational.com">jessica.kelley@hubinternational.com</a>
			</address>
		</div>
	</dd>
</dl>

{{end}}
