{{define "tail"}}
<script type="text/javascript">
$(function() {
	$("#EBusinessAgree").change(function(e) {
		if (e.target.checked) {
			$("button").prop('disabled', false);
		} else {
			$("button").prop('disabled', true);
		}
	});
});
</script>
{{end}}

{{define "body"}}
	<form method="POST" action="" role="form" class="form-onboard">
		<h2>Create Account<br><small>Provide the basic information needed to set up your Spruce account.</small></h2>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.FirstName}}has-error has-feedback{{end}}">
				<label class="control-label" for="FirstName">First Name</label>
				<input required type="text" id="FirstName" name="FirstName" value="{{.Form.FirstName}}" class="form-control" placeholder="Enter first name">
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.LastName}}has-error has-feedback{{end}}">
				<label class="control-label" for="LastName">Last Name</label>
				<input required type="text" id="LastName" name="LastName" value="{{.Form.LastName}}" class="form-control" placeholder="Enter last name">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.Gender}}has-error has-feedback{{end}}">
				<label class="control-label" for="Gender">Gender</label>
				<select name="Gender" id="Gender" class="form-control">
				<option value="female"{{if eq .Form.Gender "female"}} selected{{end}}>Female</option>
				<option value="male"{{if eq .Form.Gender "male"}} selected{{end}}>Male</option>
				</select>
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.DOB}}has-error has-feedback{{end}}">
				<label class="control-label" for="DOB">Date of Birth</label>
				<input required type="date" id="DOB" name="DOB" value="{{.Form.DOB}}" placeholder="MM/DD/YYYY" class="form-control">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.Email}}has-error has-feedback{{end}}">
				<label class="control-label" for="Email">Email</label>
				<input required type="email" id="Email" name="Email" value="{{.Form.Email}}" class="form-control" placeholder="Enter email address">
				{{template "fieldError" .FormErrors.Email}}
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.CellNumber}}has-error has-feedback{{end}}">
				<label class="control-label" for="CellNumber">Cell Phone Number</label>
				<input required type="tel" id="CellNumber" name="CellNumber" value="{{.Form.CellNumber}}" class="form-control" placeholder="###-###-####">
			</div>
		</div>

		<hr>

		<h3>Home Address</h3>

		<div class="form-group {{if .FormErrors.AddressLine1}}has-error has-feedback{{end}}">
			<label class="control-label" for="AddressLine1">Address Line 1</label>
			<input required type="text" id="AddressLine1" name="AddressLine1" value="{{.Form.AddressLine1}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.AddressLine2}}has-error has-feedback{{end}}">
			<label class="control-label" for="AddressLine2">Address Line 2</label>
			<input type="text" id="AddressLine2" name="AddressLine2" value="{{.Form.AddressLine2}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.City}}has-error has-feedback{{end}}">
			<label class="control-label" for="City">City</label>
			<input required type="text" id="City" name="City" value="{{.Form.City}}" class="form-control">
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.State}}has-error has-feedback{{end}}">
				<label class="control-label" for="State">State</label>
				<select name="State" id="State" class="form-control">
				{{$currentState := .Form.State}}
				{{range .States}}
					<option value="{{.Abbreviation}}"{{if eq $currentState .Abbreviation}} selected{{end}}>{{.Name}}</option>
				{{end}}
				</select>
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.ZipCode}}has-error has-feedback{{end}}">
				<label class="control-label" for="ZipCode">Zip Code</label>
				<input required type="text" id="ZipCode" name="ZipCode" value="{{.Form.ZipCode}}" class="form-control">
			</div>
		</div>

		<hr>

		<h3>Engagement with Spruce</h3>

		<div class="form-group {{if .FormErrors.HoursPerWeek}}has-error has-feedback{{end}}">
			<label class="control-label" for="HoursPerWeek">
				Approximate hours on Spruce per week<br>
				<span class="subtext">(non-binding &ndash; to help us gauge the number of physicians needed)</span>
			</label>
			<input type="text" name="HoursPerWeek" value="{{.Form.HoursPerWeek}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.TimesActive}}has-error has-feedback{{end}}">
			<label class="control-label" for="TimesActive">
				What days / time of day(s) would you expect to be most active on Spruce?<br>
				<span class="subtext">(non-binding &ndash; to help us gauge when physicians will be active)</span>
			</label>
			<input type="text" name="TimesActive" value="{{.Form.TimesActive}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.JacketSize}}has-error has-feedback{{end}}">
			<label class="control-label" for="JacketSize">
				Jacket size<br>
				<span class="subtext">(for custom Spruce white coat)</span>
			</label>
			<input type="text" name="JacketSize" value="{{.Form.JacketSize}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.Excitement}}has-error has-feedback{{end}}">
			<label class="control-label" for="Excitement">
				Why are you excited to be on Spruce?<br>
				<span class="subtext">(this will be included in your Spruce profile visible to patients)</span>
			</label>
			<textarea name="Excitement" class="form-control" rows="5">{{.Form.Excitement}}</textarea>
		</div>

		<hr>

		<h3>Create a Password</h3>

		<div class="form-group {{if .FormErrors.Password1}}has-error has-feedback{{end}}">
			<label class="control-label" for="Password1">Password</label>
			<input required type="password" id="Password1" name="Password1" class="form-control">
			{{template "fieldError" .FormErrors.Password1}}
		</div>

		<div class="form-group {{if .FormErrors.Password2}}has-error has-feedback{{end}}">
			<label class="control-label" for="Password2">Verify Password</label>
			<input required type="password" id="Password2" name="Password2" class="form-control">
			{{template "fieldError" .FormErrors.Password2}}
		</div>

		<hr>

		<h3>Consent to Communicate Electronically</h3>

		<div style="height:210px; overflow:scroll;" class="well">
			<strong>Consent and Notice Regarding Electronic Communications</strong>

			<p>From time to time, Spruce Physicians, P.C., (we, us or Company) may be required by law to provide to you certain written notices or disclosures. Described below are the terms and conditions for providing to you such notices and disclosures electronically. Please read the information below carefully and thoroughly, and if you can access this information electronically to your satisfaction and agree to these terms and conditions, please confirm your agreement by checking the ‘I agree’ checkbox.</p>

			<p>You may contact us to let us know of any changes as to how we may contact you electronically, to request paper copies of certain information from us, and to withdraw your prior consent to receive notices and disclosures electronically as follows:</p>

			<dl class="faq">
				<dt>Changing electronic contact information</dt>
				<dd>If the email address at which you would like to receive written notices or disclosures changes, inform us by emailing support@sprucehealth.com. In the body of this request, please state both your previous e-mail address and your new e-mail address.</dd>

				<dt>Getting paper copies</dt>
				<dd>At any time, you may request from us a paper copy of any record provided or made available electronically to you by us. We can also give you the ability to download and print documents we send to you electronically. You may request delivery of such paper copies by emailing support@sprucehealth.com and including in the body of the request your e-mail address, full name, US Postal address, and telephone number. We will bill you for any associated fees at that time.</dd>

				<dt>Withdrawing your consent</dt>
				<dd>If you decide to receive notices and disclosures from us electronically, you may at any time change your mind and tell us that thereafter you want to receive required notices and disclosures only in paper format. You may request this change by emailing support@sprucehealth.com and including in the body of the request your e-mail address, full name, US Postal address, and telephone number. Please be aware that the consequences of withdrawing consent for online documents will be that transactions may take a longer time to process

				<br>
				<p style="font-style:italic;">
					Required hardware and software
					Operating Systems:  Windows® 2000, Windows® XP, Windows Vista®; Mac OS® X
					Browsers:     Final release versions of Internet Explorer® 6.0 or above (Windows only); Mozilla Firefox 2.0 or above (Windows and Mac); Safari™ 3.0 or above (Mac only)
					Screen Resolution:     800 x 600 minimum
					Enabled Security Settings:     Allow per session cookies
					** These minimum requirements are subject to change. If these requirements change, you will be asked to re-accept the disclosure. Pre-release (e.g. beta) versions of operating systems and browsers are not supported.
				</p>
				</dd>

				<dt>Electronic Signature Agreement</dt>
				<dd>By checking the "I Agree" checkbox, you are signing this Agreement electronically. You agree your electronic signature is the legal equivalent of your manual signature on this Agreement. By selecting "I Agree" you consent to be legally bound by this Agreement's terms and conditions. You also agree that no certification authority or other third party verification is necessary to validate your E-Signature and that the lack of such certification or third party verification will not in any way affect the legitimacy of your E-Signature or any resulting contract between you and us.</dd>

				<dt>By checking the ‘I agree’ box, I further confirm that:</dt>
				<dd>I can access and read this Electronic CONSENT AND NOTICE REGARDING ELECTRONIC COMMUNICATIONS document; and I can print on paper the disclosure or save or send the disclosure to a place where I can print it, for future reference and access; and Until or unless I notify Spruce Physicians, P.C. as described above, I consent to receive from exclusively through electronic means all notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to me by  Spruce Physicians, P.C. during the course of my relationship with you.	</dd>
			</dl>
		</div>

		<div class="checkbox text-center">
			{{template "fieldError" .FormErrors.EBusinessAgree}}
			<input type="checkbox" id="EBusinessAgree" name="EBusinessAgree"> I Agree
		</div>

		<button disabled type="submit" class="btn btn-primary center-block">Create Account</button>
	</form>
{{end}}
