{{define "tail"}}
<script type="text/javascript">
$(function() {
	$("#EBusinessAgree").change(function(e) {
		if (e.target.checked) {
			$("button").prop('disabled', false);
		} else {
			$("button").prop('disabled', true);
		}
	});
});
</script>
{{end}}

{{define "body"}}
	<form method="POST" action="" role="form" class="form-onboard">
		<h2>Create Account<br><small>Provide the basic information needed to set up your Spruce account.</small></h2>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.FirstName}}has-error has-feedback{{end}}">
				<label class="control-label" for="FirstName">First Name</label>
				<input required type="text" id="FirstName" name="FirstName" value="{{.Form.FirstName}}" class="form-control" placeholder="Enter first name">
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.LastName}}has-error has-feedback{{end}}">
				<label class="control-label" for="LastName">Last Name</label>
				<input required type="text" id="LastName" name="LastName" value="{{.Form.LastName}}" class="form-control" placeholder="Enter last name">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.Gender}}has-error has-feedback{{end}}">
				<label class="control-label" for="Gender">Gender</label>
				<select name="Gender" id="Gender" class="form-control">
				<option value="female"{{if eq .Form.Gender "female"}} selected{{end}}>Female</option>
				<option value="male"{{if eq .Form.Gender "male"}} selected{{end}}>Male</option>
				</select>
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.DOB}}has-error has-feedback{{end}}">
				<label class="control-label" for="DOB">Date of Birth</label>
				<input required type="date" id="DOB" name="DOB" value="{{.Form.DOB}}" placeholder="MM/DD/YYYY" class="form-control">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.Email}}has-error has-feedback{{end}}">
				<label class="control-label" for="Email">Email</label>
				<input required type="email" id="Email" name="Email" value="{{.Form.Email}}" class="form-control" placeholder="Enter email address">
				{{template "fieldError" .FormErrors.Email}}
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.CellNumber}}has-error has-feedback{{end}}">
				<label class="control-label" for="CellNumber">Cell Phone Number</label>
				<input required type="tel" id="CellNumber" name="CellNumber" value="{{.Form.CellNumber}}" class="form-control" placeholder="###-###-####">
			</div>
		</div>

		<h3>Home Address</h3>

		<div class="form-group {{if .FormErrors.AddressLine1}}has-error has-feedback{{end}}">
			<label class="control-label" for="AddressLine1">Address Line 1</label>
			<input required type="text" id="AddressLine1" name="AddressLine1" value="{{.Form.AddressLine1}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.AddressLine2}}has-error has-feedback{{end}}">
			<label class="control-label" for="AddressLine2">Address Line 2</label>
			<input type="text" id="AddressLine2" name="AddressLine2" value="{{.Form.AddressLine2}}" class="form-control">
		</div>

		<div class="form-group {{if .FormErrors.City}}has-error has-feedback{{end}}">
			<label class="control-label" for="City">City</label>
			<input required type="text" id="City" name="City" value="{{.Form.City}}" class="form-control">
		</div>

		<div class="row">
			<div class="col-md-6 form-group {{if .FormErrors.State}}has-error has-feedback{{end}}">
				<label class="control-label" for="State">State</label>
				<select name="State" id="State" class="form-control">
				{{$currentState := .Form.State}}
				{{range .States}}
					<option value="{{.Abbreviation}}"{{if eq $currentState .Abbreviation}} selected{{end}}>{{.Name}}</option>
				{{end}}
				</select>
			</div>

			<div class="col-md-6 form-group {{if .FormErrors.ZipCode}}has-error has-feedback{{end}}">
				<label class="control-label" for="ZipCode">Zip Code</label>
				<input required type="text" id="ZipCode" name="ZipCode" value="{{.Form.ZipCode}}" class="form-control">
			</div>
		</div>

		<h3>Create a Password</h3>

		<div class="form-group {{if .FormErrors.Password1}}has-error has-feedback{{end}}">
			<label class="control-label" for="Password1">Password</label>
			<input required type="password" id="Password1" name="Password1" class="form-control">
			{{template "fieldError" .FormErrors.Password1}}
		</div>

		<div class="form-group {{if .FormErrors.Password2}}has-error has-feedback{{end}}">
			<label class="control-label" for="Password2">Verify Password</label>
			<input required type="password" id="Password2" name="Password2" class="form-control">
			{{template "fieldError" .FormErrors.Password2}}
		</div>

		<h3>Consent to Communicate Electronically</h3>

		<div style="height:210px; overflow:scroll;" class="well">
			<strong>Consent and Notice Regarding Electronic Communications</strong>

			<p>From time to time, Spruce Physicians, P.C., (we, us or Company) may be required by law to provide to you certain written notices or disclosures. Described below are the terms and conditions for providing to you such notices and disclosures electronically. Please read the information below carefully and thoroughly, and if you can access this information electronically to your satisfaction and agree to these terms and conditions, please confirm your agreement by checking the ‘I agree’ checkbox.</p>

			<dl class="faq">
			<dt>Getting paper copies</dt>
			<dd>At any time, you may request from us a paper copy of any record provided or made available electronically to you by us. We can also give you the ability to download and print documents we send to you electronically. You may request delivery of such paper copies from us by emailing us at support@sprucehealth.com</dd>

			<dt>Withdrawing your consent</dt>
			<dd>If you decide to receive notices and disclosures from us electronically, you may at any time change your mind and tell us that thereafter you want to receive required notices and disclosures only in paper format. How you must inform us of your decision to receive future notices and disclosure in paper format and withdraw your consent by emailing us at support@sprucehealth.com</dd>

			<dt>All notices and disclosures will be sent to you electronically</dt>
			<dd>Unless you tell us otherwise in accordance with the procedures described herein, we will provide electronically to you all required notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to you during the course of our relationship with you. To reduce the chance of you inadvertently not receiving any notice or disclosure, we prefer to provide all of the required notices and disclosures to you by the same method and to the same address that you have given us. If you do not agree with this process, please let us know at support@sprucehealth.com

			<p>
				How to contact Spruce Physicians, P.C.:<br>
				You may contact us to let us know of your changes as to how we may contact you electronically, to request paper copies of certain information from us, and to withdraw your prior consent to receive notices and disclosures electronically as follows:<br>
				To contact us by email send messages to: support@sprucehealth.com<br>
				To advise Spruce Physicians, P.C. of your new e-mail address<br>
				To let us know of a change in your e-mail address where we should send notices and disclosures electronically to you, you must send an email message to us at support@sprucehealth.com and in the body of such request you must state: your previous e-mail address, your new e-mail address.  We do not require any other information from you to change your email address..<br>
				To request paper copies from Spruce Physicians, P.C.<br>
				To request delivery from us of paper copies of the notices and disclosures previously provided by us to you electronically, you must send us an e-mail to support@sprucehealth.com and in the body of such request you must state your e-mail address, full name, US Postal address, and telephone number. We will bill you for any fees at that time, if any.<br>
				To withdraw your consent with Spruce Physicians, P.C.<br>
				To inform us that you no longer want to receive future notices and disclosures in electronic format you may send us an e-mail to support@sprucehealth.com and in the body of such request you must state your e-mail, full name, US Postal Address, and telephone number. We do not need any other information from you to withdraw consent..  The consequences of your withdrawing consent for online documents will be that transactions may take a longer time to process.
			</p>

			<p>
				Required hardware and software<br>
				Operating Systems:  Windows® 2000, Windows® XP, Windows Vista®; Mac OS® X<br>
				Browsers:     Final release versions of Internet Explorer® 6.0 or above (Windows only); Mozilla Firefox 2.0 or above (Windows and Mac); Safari™ 3.0 or above (Mac only)<br>
				Screen Resolution:     800 x 600 minimum<br>
				Enabled Security Settings:     Allow per session cookies<br>
				** These minimum requirements are subject to change. If these requirements change, you will be asked to re-accept the disclosure. Pre-release (e.g. beta) versions of operating systems and browsers are not supported.
			</p>
			</dd>

			<dt>Acknowledging your access and consent to receive materials electronically</dt>
			<dd>To confirm to us that you can access this information electronically, which will be similar to other electronic notices and disclosures that we will provide to you, please verify that you were able to read this electronic disclosure and that you also were able to print on paper or electronically save this page for your future reference and access or that you were able to copy, paste, and e-mail this disclosure and consent to an address where you will be able to print on paper or save it for your future reference and access. Further, if you consent to receiving notices and disclosures exclusively in electronic format on the terms and conditions described above, please let us know by checking the ‘I agree’ checkbox below.</dd>

			<dt>Electronic Signature Agreement</dt>
			<dd>By checking the "I Agree" checkbox, you are signing this Agreement electronically. You agree your electronic signature is the legal equivalent of your manual signature on this Agreement. By selecting "I Agree" you consent to be legally bound by this Agreement's terms and conditions. You also agree that no certification authority or other third party verification is necessary to validate your E-Signature and that the lack of such certification or third party verification will not in any way affect the legitimacy of your E-Signature or any resulting contract between you and us.<br>
			<strong>By checking the ‘I agree’ box, I further confirm that:</strong><br>
			I can access and read this Electronic CONSENT AND NOTICE REGARDING ELECTRONIC COMMUNICATIONS document; and
			I can print on paper the disclosure or save or send the disclosure to a place where I can print it, for future reference and access; and
			Until or unless I notify Spruce Physicians, P.C. as described above, I consent to receive from exclusively through electronic means all notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to me by  Spruce Physicians, P.C. during the course of my relationship with you.
			</dd>
			</dl>
		</div>

		<div class="checkbox text-center">
			{{template "fieldError" .FormErrors.EBusinessAgree}}
			<input type="checkbox" id="EBusinessAgree" name="EBusinessAgree"> I Agree
		</div>

		<button disabled type="submit" class="btn btn-primary pull-right">Create Account</button>
	</form>
{{end}}
