{{define "head"}}
{{end}}

{{define "fieldError"}}
	{{if .}}<div class="error">{{.}}</div>{{end}}
{{end}}

{{define "body"}}
	<h1>Register</h1>

	<form method="POST" action="">
	{{template "fieldError" .FormErrors.FirstName}}
	<label for="FirstName">First Name:</label>
	<input type="text" id="FirstName" name="FirstName" value="{{.Form.FirstName}}"><br>

	{{template "fieldError" .FormErrors.LastName}}
	<label for="LastName">Last Name:</label>
	<input type="text" id="LastName" name="LastName" value="{{.Form.LastName}}"><br>

	{{template "fieldError" .FormErrors.Gender}}
	<label for="Gender">Gender:</label>
	<select name="Gender" id="Gender">
	<option value="female"{{if eq .Form.Gender "female"}} selected{{end}}>Female</option>
	<option value="male"{{if eq .Form.Gender "male"}} selected{{end}}>Male</option>
	</select><br>

	{{template "fieldError" .FormErrors.DOB}}
	<label for="DOB">Date of Birth:</label>
	<input type="text" id="DOB" name="DOB" value="{{.Form.DOB}}" placeholder="MM/DD/YYYY"><br>

	{{template "fieldError" .FormErrors.Email}}
	<label for="Email">Email:</label>
	<input type="text" id="Email" name="Email" value="{{.Form.Email}}"><br>

	{{template "fieldError" .FormErrors.CellNumber}}
	<label for="CellNumber">Cell Phone Number:</label>
	<input type="text" id="CellNumber" name="CellNumber" value="{{.Form.CellNumber}}"><br>

	<h3>Home Address</h3>

	{{template "fieldError" .FormErrors.AddressLine1}}
	<label for="AddressLine1">Address Line 1:</label>
	<input type="text" id="AddressLine1" name="AddressLine1" value="{{.Form.AddressLine1}}"><br>

	{{template "fieldError" .FormErrors.AddressLine2}}
	<label for="AddressLine2">Address Line 2:</label>
	<input type="text" id="AddressLine2" name="AddressLine2" value="{{.Form.AddressLine2}}"><br>

	{{template "fieldError" .FormErrors.City}}
	<label for="City">City:</label>
	<input type="text" id="City" name="City" value="{{.Form.City}}"><br>

	{{template "fieldError" .FormErrors.State}}
	<label for="State">State:</label>
	<select name="State" id="State">
	{{$currentState := .Form.State}}
	{{range .States}}
		<option value="{{.Abbreviation}}"{{if eq $currentState .Abbreviation}} selected{{end}}>{{.Name}}</option>
	{{end}}
	</select><br>

	{{template "fieldError" .FormErrors.ZipCode}}
	<label for="ZipCode">Zip Code:</label>
	<input type="text" id="ZipCode" name="ZipCode" value="{{.Form.ZipCode}}"><br>

	<h3>Password</h3>

	{{template "fieldError" .FormErrors.Password1}}
	<label for="Password1">Password:</label>
	<input type="password" id="Password1" name="Password1"><br>

	{{template "fieldError" .FormErrors.Password2}}
	<label for="Password2">Verify Password:</label>
	<input type="password" id="Password2" name="Password2"><br>

	<button>Sign Up</button>
	</form>
{{end}}
