{{define "head"}}
{{end}}

{{define "fieldError"}}
{{if .}}
	<div class="error">{{.}}</div>
{{end}}
{{end}}

{{define "body"}}
	<form method="POST" action="">
	{{template "fieldError" .FormErrors.FirstName}}
	First Name: <input type="text" name="FirstName" value="{{.Form.FirstName}}"><br>

	{{template "fieldError" .FormErrors.LastName}}
	Last Name: <input type="text" name="LastName" value="{{.Form.LastName}}"><br>

	{{template "fieldError" .FormErrors.Email}}
	Email: <input type="text" name="Email" value="{{.Form.Email}}"><br>

	{{template "fieldError" .FormErrors.CellNumber}}
	Cell Phone Number: <input type="text" name="CellNumber" value="{{.Form.CellNumber}}"><br>

	{{template "fieldError" .FormErrors.Password1}}
	Password: <input type="password" name="Password1"><br>

	{{template "fieldError" .FormErrors.Password2}}
	Verify Password: <input type="password" name="Password2"><br>

	<button>Sign Up</button>
	</form>
{{end}}
