{{define "tail"}}
{{end}}

{{define "body"}}
	<form method="POST" action="" role="form" class="form-onboard" enctype="multipart/form-data">
		<h2>{{.Title}}</h2>

		{{with .Subtitle}}<h4>{{.}}</h4>{{end}}

		<hr>

		{{with .Error}}<div class="alert alert-danger" role="alert">{{.}}</div>{{end}}
		<div class="form-group">
			<input type="file" name="File">
		</div>

		<hr>

		<div class="text-center">
			{{if not .Required}}<a href="{{.NextURL}}" class="btn btn-default" role="button">Skip</a>{{end}}
			<button type="submit" class="btn btn-primary">Upload</button>
		</div>
	</form>
{{end}}
