.DS_Store

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Keys
*.pem

# Folders
_obj
_test
bin/
.hg/
.bzr/
node_modules/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.bz2
*.gz

apps/ec2-consistent-snapshot/ec2-consistent-snapshot
apps/ec2-volumes/ec2-volumes
apps/awslogidx/awslogidx
apps/medetails/medetails
apps/saml/saml
api/dqmigration/dqmigration
diagnosis/ingester/ingester
apps/redshiftload/redshiftload
apps/restapi/resources.zip
apps/restapi/restapi
apps/securesvc/securesvc
apps/pharmacydb/pharmacydb
apps/syslogidx/syslogidx
third_party/code.google.com/p/go.tools/
resources/static/css/*.min.css
resources/static/js/*.dev.js
resources/static/js/*.min.js
resources/node_modules/*
