.DS_Store
backend.sublime-workspace

# Go test coverage output
cover.out

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Keys
*.pem

# Folders
_obj
_test
bin/
.hg/
.bzr/
node_modules/
.sass-cache/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.swp
*.vim
*.exe
*.bz2
*.gz

*.coverage
*.coverage.html
*.revision

cmd/cli/awslogidx/awslogidx
cmd/cli/dashboard/dashboard
cmd/cli/doctorchangemsg/doctorchangemsg
cmd/cli/ec2-consistent-snapshot/ec2-consistent-snapshot
cmd/cli/ec2-volumes/ec2-volumes
cmd/cli/pharmacydb/pharmacydb
cmd/cli/redshiftload/redshiftload
cmd/cli/saml/saml
cmd/cli/syslogidx/syslogidx
diagnosis/ingester/ingester
npm-debug.log
resources/node_modules/*
resources/static/css/*.css
resources/static/js/*.js
resources/static/js/*.map
cmd/svc/curbside/build/*
cmd/svc/curbside/curbside
cmd/svc/curbside/node_modules/*
cmd/svc/curbside/curbside/resources.zip
cmd/svc/regimens/regimens
cmd/svc/restapi/resources.zip
cmd/svc/restapi/restapi
