.DS_Store
backend.sublime-workspace

# Go test coverage output
cover.out

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Keys
*.pem

# Folders
_obj
_test
bin/
.hg/
.bzr/
node_modules/
.sass-cache/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.swp
*.vim
*.exe
*.bz2
*.gz

cmd/cli/awslogidx/awslogidx
cmd/cli/dashboard/dashboard
cmd/cli/doctorchangemsg/doctorchangemsg
cmd/cli/ec2-consistent-snapshot/ec2-consistent-snapshot
cmd/cli/ec2-volumes/ec2-volumes
cmd/cli/pharmacydb/pharmacydb
cmd/cli/redshiftload/redshiftload
cmd/cli/saml/saml
cmd/cli/syslogidx/syslogidx
cmd/svc/ext/restapi/resources.zip
cmd/svc/ext/restapi/restapi
diagnosis/ingester/ingester
npm-debug.log
resources/node_modules/*
resources/static/css/*.min.css
resources/static/css/admin.css
resources/static/css/base.css
resources/static/css/home.css
resources/static/css/parental-consent.css
resources/static/js/*.dev.js
resources/static/js/*.min.js
