body {
	padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f7f9fa;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > li > .heading {
	font-weight: bold;
	color: inherit;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #0BA5C5;
}

/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

.search-results {
	margin-top: 40px;
}

.rxguide {
	zoom: 0.5;
}

.treatment-plan {
	margin: 10px auto 20px auto;
	width: 640px;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.treatment-plan hr {
	border: 0;
	height: 0;
	margin: 5px 20px 5px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.treatment-plan .content-view {
	padding: 10px 20px 10px 20px;
	background-color: #fff;
}
.treatment-plan .text-view {
	font-family: "MuseoSans-300";
	font-size: 32px;
	color: #051D25;
	line-height: 40px;
}
.treatment-plan .large-divider-view {
	height: 32px;
	background-color: #E8F0F3;
	margin: 10px 0 10px 0;
}
.treatment-plan .section-header span {
	font-size: 22px;
}
.treatment-plan .text-view-style-section_header {
	font-family: "MuseoSans-500";
	font-size: 36px;
	color: #051D25;
	line-height: 43px;
}
.treatment-plan .text-view-style-subheader {
	font-family: "MuseoSans-300";
	font-size: 28px;
	color: #8B9FA7;
	line-height: 36px;
}
.treatment-plan .icon-title-subtitle-view img {
	float: right;
}
.treatment-plan .icon-title-subtitle-view .title {
	font-family: "MuseoSans-500";
	font-size: 40px;
	color: #051D25;
	line-height: 48px;
}
.treatment-plan .icon-title-subtitle-view .subtitle {
	font-family: "MuseoSans-300";
	font-size: 28px;
	color: #8B9FA7;
	line-height: 36px;
}
.treatment-plan .button-footer {
	font-family: "MuseoSans-300";
	font-size: 28px;
	color: #8B9FA7;
	line-height: 36px;

	background-color: #E8F0F3;
	margin-top: 10px;
	padding: 25px 20px 25px 20px;
}

.analytics div.form {
	margin-bottom: 20px;
}

.analytics iframe {
	border: 0;
	width: 100%;
	height: 300px;
}

.glyphicon-plus {
	color: green;
}

.glyphicon-remove {
	color: red;
}

.doctor-thumbnail {
	max-height: 200px;
}

.modal-ftp-membership {
	width: 800px;
}

.card {
	-webkit-box-shadow: 10px 10px 33px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 33px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 33px -8px rgba(0,0,0,0.75);
	background-color: #F0F0FF;
	margin: 25px;
}

.initials-circle {
	width:60px;
	height:60px;
	border-radius:50%;
	font-size:35px;
	color:#fff;
	line-height:60px;
	text-align:center;
	background:#0BA5C5;
}

.initials-circle a:link, .initials-circle a:visited {
	color:#fff;
}

.card-title {
	font-size:35px;
	color:#000;
	line-height:70px;
}

.alert-text {
	color:#FF0000;
	font-weight: bold;
}

.success-text{
	color:#248F24;
	font-weight: bold;
}

.animatable_preview_menu-enter {
  opacity: 0.01;
  -webkit-transition: opacity .25s ease-in .25s;
  -moz-transition: opacity .25s ease-in .25s;
  -o-transition: opacity .25s ease-in .25s;
  transition: opacity .25s ease-in .25s;
}

.animatable_preview_menu-enter.animatable_preview_menu-enter-active {
  opacity: 1;
}

.animatable_preview_menu-leave {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}

.animatable_preview_menu-leave.animatable_preview_menu-leave-active {
  opacity: 0.01;
}

.pathways_menu_preview_title {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
  font: 16pt 'MuseoSans-300', Verdana, sans-serif;
  text-align: center;
}

.pathways_menu_preview_submenu_row {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 18px;
  border-radius: 2px;
  background-color: #3bb7d0;
  overflow: hidden;
  cursor: pointer;
}

.pathways_menu_preview_pathway_row {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 18px;
  border-radius: 2px;
  background-color: #3bb7d0;
  overflow: hidden;
}

.pathways_menu_preview_label {
  color: #fff;
  font: 15pt 'MuseoSans-300', Verdana, sans-serif;
  text-align: center;
}

.pathways_menu_preview_back_button_label {
  color: #fff;
  font: 12pt 'MuseoSans-300', Verdana, sans-serif;
}
