body {
	padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

.search-results {
	margin-top: 40px;
}

.treatment-plan {
	margin: 10px auto 20px auto;
	width: 640px;
	background-color: #fff;
}
.treatment-plan hr {
	border: 0;
	height: 0;
	margin: 5px 20px 5px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.treatment-plan .content-view {
	padding: 10px 20px 10px 20px;
}
.treatment-plan .text-view {
}
.treatment-plan .large-divider-view {
	height: 30px;
	background-color: #f0f0f0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin: 10px 0 10px 0;
}
.treatment-plan .section-header span {
	font-size: 22px;
}
.treatment-plan .text-view-style-section-header {
	font-size: 19px;
	font-weight: bold;
}
.treatment-plan .text-view-style-subheader {
	font-size: 18px;
}
.treatment-plan .icon-title-subtitle-view img {
	float: right;
}

.analytics div.form {
	margin-bottom: 20px;
}

.analytics iframe {
	border: 0;
	width: 100%;
	height: 300px;
}

.glyphicon-plus {
	color: green;
}

.glyphicon-remove {
	color: red;
}

.doctor-thumbnail {
	max-width: 200px;
}
