{{define "headTail"}}
	{{if isEnv "dev"}}
		<link rel="stylesheet" type="text/css" href="{{staticURL "css/doctorpage.css"}}">
	{{else}}
		<link rel="stylesheet" type="text/css" href="{{staticURL "css/doctorpage.min.css"}}">
	{{end}}

	<meta name="description" content="{{.SubContext.SEODescription}}" />
{{end}}

{{define "content"}}
	<span itemscope itemtype="http://schema.org/Physician">
	<div class="banner-img" style="background-image: url({{.BannerImageURL}})"></div>
	<div class="banner-img-overlay"></div>

	{{if .ShowLicensesAsBreadcrumbs}}
		{{with .Breadcrumb}}
			<p class="breadcrumb-text">Dermatologist licensed in
				{{$length := len .Items}}
				{{range $index, $item := .Items}}
						{{if and (eq (increment $index) $length) (ge $index 1)}}
							and
						{{else if ge $index 1}}
							,
						{{end}}
						{{with $item.Link}}
							<a href="{{$item.Link}}">{{$item.Label}}</a>
						{{else}}
							{{$item.Label}}
						{{end}}
				{{end}}
			</p>
		{{end}}
	{{else}}
		{{with .Breadcrumb}}
			<p class="breadcrumb-text">Dermatologists in  
				{{range $index, $item := .Items}}
						{{if ge $index 1}}
							&rsaquo;
						{{end}}
						{{with $item.Link}}
							<a href="{{$item.Link}}">{{$item.Label}}</a>
						{{else}}
							{{$item.Label}}
						{{end}}
				{{end}}
			</p>
		{{end}}
	{{end}}


	<!--include other breadcrumbs for search engine indexing-->
	{{range .OtherBreadcrumbs}}
		<span itemscope itemtype="http://schema.org/BreadcrumbList">
			{{range $index, $item := .Items}}
					<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						{{with $item.Link}}
							<link itemprop="item" href="{{$item.Link}}"/>
						{{end}}
						<meta itemprop="name" content="{{$item.Label}}">
						<meta itemprop="position" content="{{increment $index}}">
					</span>
			{{end}}
		</span>
	{{end}}

	<img class="doctor-img" itemprop="image" src="{{.ProfileImageURL}}" alt="{{.LongDisplayName}}" />

	<div class="doctor-name-container">
		<p class="doctor-name" itemprop ="name">{{.LongDisplayName}}</p>
		{{if .IsSpruceDoctor}}
			<div class="treats-online-container">
				<div class="treats-online-circle"></div>
				<p class="treats-online-text">Treats Patients Online</p>
			</div>
			<a href="{{.StartOnlineVisitURL}}" class="start-online-visit-button">START AN ONLINE VISIT</a>
			<span itemprop="potentialAction" itemscope itemtype="http://schema.org/ReserveAction">
				<meta itemprop="target" content="{{.StartOnlineVisitURL}}" />
				<span itemprop="result" itemscope itemtype="http://schema.org/Reservation">
                    <meta itemprop="name" content="Appointment" />
                </span>
			</span>
		{{else}}
			{{if .IsMobile}}
				<a class="call-for-appointment-button" href="{{html .PhoneLink}}">CALL FOR APPOINTMENT</a>
			{{else}}
				<a class="call-for-appointment-button" data-text-swap="{{.PhysicalOfficeInformation.Phone}}" href="#">CALL FOR APPOINTMENT</a>
			{{end}}
		{{end}}
	</div>

	{{with .ReviewsSection}}
		<div class="reviews-container">
			<p class="doctor-profile-section-title">What Patients Are Saying</p>
			<div class="reviews-summary-container">
				<p class="section-title">{{.Title}}</p>
				<div class="rating-logo-container">
					<img src="{{.AverageRatingImageURL}}" class="rating-img"></img>
					<img class="rating-source-img" src="{{staticURL .SourceImageName}}"></img>
					<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						<meta itemprop="reviewCount" content="{{.ReviewCount}}" />
						<meta itemprop="bestRating" content="5"/>
						<meta itemprop="worstRating" content="1" />
						<meta itemprop="ratingValue" content="{{.AverageRating}}" />
					</span>
				</div>
			</div>
			<div class="reviews-list-container">
				<p class="section-title">REVIEWS</p>
				{{range .Reviews}}
					<div class="review-item-container" itemprop="review" itemscope itemtype="http://schema.org/Review">
						<div class="rating-logo-container">
							<img class="rating-img" src="{{.RatingImageURL}}"></img>
							<img class="rating-source-img" src="{{staticURL .SourceImageName}}"></img>
						</div>
						<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<meta itemprop="bestRating" content="5"/>
							<meta itemprop="worstRating" content="1" />
							<meta itemprop="ratingValue" content="{{.Rating}}" />
						</span>
						<meta itemprop="citation" content="{{.Citation}}" />
						<div class="review-text-container">
							<p class="review-text" itemprop="reviewBody">{{.Text}} 
								{{with .YelpPageURL}}
									<a class="read-more-link" target="_blank" href="{{html .}}">Read more</a></p>
								{{end}}
						</div>
						<div class="review-author-date-container">
							<p class="review-author-text" itemprop="author">{{.Author}}</p>
							<p class="review-date-text" itemprop="datePublished">{{.Date}}</p>
						</div>
					</div>
				{{end}}
				{{with .MoreReviewsURL}}
					<a target="_blank" class="more-reviews-link" href="{{html .}}">More Reviews</a>		
				{{end}}
			</div>
		</div>
	{{end}}

	{{ if or .Specialties .Qualifications}}
		<div class="qualifications-section">

			<p class="doctor-profile-section-title">Qualifications & Credentials</p>

			<link itemprop="medicalSpecialty" href="https://schema.org/Dermatologic">
				<div class="qualifications-container">
					
					{{with .Specialties}}
						<div class="specialties-section">
							<p class="section-title">SPECIALTIES</p>
							<div class="specialties-items-container">
								{{range .}}
									<div class="specialties-item">{{.}}</div>
								{{end}}
							</div>
						</div>
					{{end}}

					{{range .Qualifications}}
						<div class="subsection-container">
								<div class="title-description-section">
									<h1>{{.Title}}</h1>
									<p>{{.Description}}</p>
								</div>
						</div>
					{{end}}

				</div>
			</link>
		</div>
	{{end}}

	<div class="practice-information-section">
		<p class="doctor-profile-section-title">{{.OfficeSectionTitle}}</p>
		<div class="office-information-container">

			{{with .PhysicalOfficeInformation}}
				<div class="subsection-container">
					<div class ="office-location-container">
							<div class="office-location">
									<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<p class="section-title">OFFICE LOCATION</p>
										<a href="{{.GoogleMapsLink}}"><img class="office-location-img" src="{{.GoogleMapsImageURL}}"></img></a>
										<p itemprop="streetAddress" class="office-address-line-1">{{.AddressLine1}}</p>
										<div class="office-address-line-2"> <span itemprop="addressLocality">{{.City}}</span>, <span itemprop="addressRegion">{{.State}}</span> <span itemprop="postalCode">{{.Zipcode}}</span></div>
										<meta itemprop="addressCountry" content="US" />
									</span>
									  <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
								          <meta itemprop="latitude" content="{{.Latitude}}" />
								          <meta itemprop="longitude" content="{{.Longitude}}" />
							        </span>
									<p class="office-address-line-2" itemprop="telephone">{{.Phone}}</p>
									<a class="get-directions-link" target="_blank" href="{{.GoogleMapsLink}}">Get Directions</a>
							</div>
							<div class="office-hours-container">
								<p class="section-title">OFFICE HOURS</p>
								<meta itemprop="openingHours" content="{{.CondensedOfficeHours}}" />
								<table class="office-hours-table">
									{{range .OfficeHours}}
										<tr>
											<td class="office-hours-day">{{.Day}}</td>
											<td class="office-hours-hours">{{.Hours}}</td>
										</tr>
									{{end}}
								</table>
							</div>
					</div>
				</div>
			{{end}}


			{{with .StateCoverageText}}
				<div class="subsection-container">
					<div class="title-description-section">
						<h1>STATE COVERAGE</h1>
						<p>{{.}}</p>
					</div>
				</div>
			{{end}}

			{{with .AcceptedInsurance}}
				<div class="subsection-container">
					<p class="section-title">ACCEPTED INSURANCE PLANS</p>
					<div class="accepted-insurance-contents-container">
						{{range .}}
							<div class="accepted-insurance-items">
								{{range .Items}}
									<p class="accepted-insurance-item">{{.}}</p>
								{{end}}
							</div>
						{{end}}
					</div>
				</div>
			{{end}}

			{{if .IsSpruceDoctor}}
				<div class="subsection-container">
					<p class="section-title">CONDITIONS TREATED ONLINE</p>
					<div class="conditions-treated-online-contents-container">
						{{range .ConditionsTreated}}
							<div class="conditions-treated-online-items">
								{{range .Items}}
									<p class="conditions-treated-online-item">{{.}}</p>
								{{end}}
							</div>
						{{end}}
					</div>
				</div>
			{{end}}

			<div class="subsection-container">
				<p class="section-title">AVAILABILITY</p>
				{{range .AvailabilityItems}}
					<div class="availability-item">
						<img src="{{staticURL .ImageName}}"></img>
						<p>{{.Text}}</p>
					</div>
				{{end}}
			</div>
			
			<div class="cta-button-container">
				{{if .IsSpruceDoctor}}
					<a href="{{.StartOnlineVisitURL}}" class="start-online-visit-button">START AN ONLINE VISIT</a>
					<span itemprop="potentialAction" itemscope itemtype="http://schema.org/ReserveAction">
						<meta itemprop="target" content="{{.StartOnlineVisitURL}}" />
						<span itemprop="result" itemscope itemtype="http://schema.org/Reservation">
		                    <meta itemprop="name" content="Appointment" />
		                </span>
					</span>				
				{{else}}
					{{if .IsMobile}}
						<a class="call-for-appointment-button" href="{{html .PhoneLink}}">CALL FOR APPOINTMENT</a>
					{{else}}
						<a class="call-for-appointment-button" data-text-swap="{{.PhysicalOfficeInformation.Phone}}" href="#">CALL FOR APPOINTMENT</a>
					{{end}}
				{{end}}
			</div>
	</div>

	<!--Only include for local doctors-->
	{{if .IsSpruceDoctor}}
	{{else}}
		<div class="online-doctors-section">
			<p class="doctor-profile-section-title">Dermatologists Available for Same-Day Treatment</p>
			<div class="online-doctors-container">
				{{range .SpruceDoctors}}
					<div class="doctor-card">
						<a href="{{.ProfileURL}}"><img class="doctor-card-img" src="{{.ProfileImageURL}}" alt="{{.LongDisplayName}} | Dermatologist"></img></a>
						<a href="{{.ProfileURL}}" class="doctor-card-title">{{.LongDisplayName}}</a>
						<div class="treats-online-container">
							<div class="treats-online-circle"></div>
							<a href="{{.StartOnlineVisitURL}}" class="treats-online-text">Treats Patients Online</a>
						</div>
						<div class="doctor-card-divider"></div>

						<div class="doctor-card-rating-experience-container"> 
							<div>
								<p class="section-title">AVG RATING</p>
								<img class="doctor-card-rating-img" src="{{staticURL .StarRatingImg}}"></img>
							</div>
							<div class="doctor-card-rating-experience-divider"></div>
							<div> 
								<p class="section-title">EXPERIENCE</p>
								<p class="doctor-card-experience-description">{{.Experience}}</p>
							</div>
						</div>
						<div class="doctor-card-divider"></div>

						<a class="view-profile-button" itemprop="url" href="{{.ProfileURL}}">VIEW PROFILE</a>
					</div>
				{{end}}
			</div>
		</div>
	{{end}}
</span>
{{end}}

{{define "scripts"}}
	{{if .SubContext.IsMobile}}
	{{else}}
		{{if isEnv "dev"}}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
			<script src="{{staticURL "js/carefinder.js"}}" type="text/javascript"></script>
		{{else}}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="{{staticURL "js/carefinder.min.js"}}" type="text/javascript"></script>	
		{{end}}

		<script type="text/javascript">
			var button = $(".call-for-appointment-button");
			button.on("click", function(event){
				event.preventDefault();
				button.text(button.data("text-swap"));
				button.css("background-color", "#00CECF");
			});
		</script>
	{{end}}
{{end}}

