{{define "headTail"}}
	{{if isEnv "dev"}}
		<link rel="stylesheet" type="text/css" href={{staticURL "css/statepage.css"}}>
	{{else}}
		<link rel="stylesheet" type="text/css" href={{staticURL "css/statepage.min.css"}}>
	{{end}}
	<meta name="description" content="{{.SubContext.SEODescription}}" />
{{end}}

{{define "content"}}
	<div class="banner-container">
		<div class="banner-background-image" style="background-image: url({{.BannerImageURL}}); background-position: center center; background-size: cover;"> </div>
		<div class="banner-image-overlay"></div>
		<div class="banner-title-description">
			<h1 class="banner-title">{{.Title}}</h1>
			<p class="banner-description">{{.Description}}</p>
		</div>
	</div>

	<div class="featured-cities-section">
		<h1 class="featured-cities-title">Featured Cities</h1>
		<div class="featured-cities-container">
			{{range .FeaturedCitiesAboveFold}}
				<div class="featured-cities-item"> <a href="{{.Link}}">{{.Name}}</a> </div>
			{{end}}
		</div>
		
		{{if .FeaturedCitiesBelowFold}}
			<a class="view-more-cities-button" href="#">View more</a>
			<div class="below-fold">
				<div class="featured-cities-container">
					{{range .FeaturedCitiesBelowFold}}
						<div class="featured-cities-item"> <a href="{{.Link}}">{{.Name}}</a> </div>
					{{end}}
				</div>
			</div>
		{{end}}
	</div>

	<div class="featured-doctors-section">
		<h1 class="featured-doctors-title">Featured Dermatologists</h1>
		<div class="featured-doctors-container">
			{{range .FeaturedDoctors}}
				<div class="primary-card" itemscope itemtype="http://schema.org/Physician">
					<link itemprop="medicalSpecialty" href="http://schema.org/Dermatologic"></link>
					<a href="{{.ProfileURL}}"><img class="primary-card-image" itemprop="image" src={{.ProfileImageURL}}></img></a>

					<div class="name-rating-experience-container">

						<a class="primary-card-title" href="{{.ProfileURL}}"><span itemprop="name">{{.LongDisplayName}}</span></a>

						<div class="handhelds-tablets-only">
								<div class="treats-online-container">
									<div class="treats-online-circle"></div>
										<a href="{{.StartOnlineVisitURL}}" class="treats-online-text">Treats Patients Online</a>
								</div>
						</div>

						<div class="rating-experience-container"> 
							<div>
								<p class="section-title">AVG RATING</p>
								<img class="rating-stars-img" src={{staticURL .StarRatingImg}}></img>
									<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
										<meta itemprop="reviewCount" content="{{.ReviewCount}}" />
										<meta itemprop="bestRating" content="5"/>
										<meta itemprop="worstRating" content="1" />
										<meta itemprop="ratingValue" content="{{.AverageRating}}" />
									</span>
							</div>
							{{with .Experience}}
								<div class="rating-experience-divider handhelds-tablets-only"></div>
								<div class="experience-section"> 
									<p class="section-title">EXPERIENCE</p>
									<p class="experience-description">{{.}}</p>
								</div>
							{{end}}
						</div>

					</div>

					<p class="doctor-description" itemprop="description">{{.Description}}</p>

					{{with .Specialties}}
						<div class="specialties-section desktop-only">
							<p class="section-title">SPECIALTIES</p>
							<div class="specialties-items-container">
								{{range .}}
									<div class="specialties-item">{{.}}</div>
								{{end}}
							</div>
						</div>
					{{end}}

					<div class = "view-profile-section">
							<a class="view-profile-button" itemprop="url" href="{{.ProfileURL}}">VIEW PROFILE</a>
							
							<div class="desktop-only">
								<div class="treats-online-container">
									<div class="treats-online-circle"></div>
										<a href="{{.StartOnlineVisitURL}}" class="treats-online-text">Treats Patients Online</a>
								</div>
							</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>

	<div class="long-description-container">
			{{range .LongDescriptionParagraphs}}
				<p>{{.}}</p>
			{{end}}
	</div>

{{end}}

{{define "scripts"}}
{{if .SubContext.IsMobile}}
{{else}}

	{{if isEnv "dev"}}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
		<script src="{{staticURL "js/carefinder.js"}}" type="text/javascript"></script>
	{{else}}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{staticURL "js/carefinder.min.js"}}" type="text/javascript"></script>	
	{{end}}
	
	<script type="text/javascript">
	var button = $(".view-more-cities-button");
	button.on("click", function(event){
		event.preventDefault();
		button.hide();
		var containerBelowFold = $(".below-fold");
		containerBelowFold.show();
	});
	</script>
{{end}}
{{end}}