{{define "phonenumber"}}
<p><span class="phonenumber">(***)-***-**{{.}}</span></p>
{{end}}

{{define "body"}}
	{{if .LastTwoDigits}}
		{{if .EnterCode}}
			<p>We've sent a text message with your verification code. If you don't receive it shortly
			<a href="?token={{.Token}}&amp;email={{.Email}}">resend your code</a>.</p>

			{{template "phonenumber" .LastTwoDigits}}

			{{range .Errors}}
			<div class="alert alert-danger" role="alert">{{.}}</div>
			{{end}}

			<form method="POST" action="" role="form">
				<input type="hidden" name="action" value="validate">
				<input type="hidden" name="token" value="{{.Token}}">
				<input type="hidden" name="email" value="{{.Email}}">
				<input required type="number" id="code" name="code" value="{{.Code}}" placeholder="Code you received" class="last form-control">
				<button class="btn btn-primary center-block">VERIFY</button>
			</form>
		{{else}}
			<p>To verify this account belongs to you we'll send a verification code to your phone:</p>

			{{template "phonenumber" .LastTwoDigits}}

			<form method="POST" action="" role="form">
			<input type="hidden" name="action" value="send">
			<input type="hidden" name="token" value="{{.Token}}">
			<input type="hidden" name="email" value="{{.Email}}">
			<input type="hidden" name="method" value="sms" checked>
			<button class="btn btn-primary center-block">SEND CODE</button>
			</form>
		{{end}}
	{{else}}
		<p>There is no phone number associated with your account. Please contact support
		at <a href="mailto:{{.SupportEmail}}">{{.SupportEmail}}</a></p>
	{{end}}
{{end}}
