{{define "body"}}
	{{if .Done}}
		<p>You've successfully changed your password.</p>

		<p>Use your new password to log in to your Spruce account.</p>
	{{else}}
		<p>Account successfully verified. Now reset your password.

		{{range .Errors}}
		<div class="alert alert-danger" role="alert">{{.}}</div>
		{{end}}

		<form method="POST" action="" role="form">
			<input type="hidden" name="token" value="{{.Token}}">
			<input type="hidden" name="email" value="{{.Email}}">
			<input required type="password" id="password1" name="password1" placeholder="New Password" class="form-control">
			<input required type="password" id="password2" name="password2" placeholder="Confirm Password" class="last form-control">
		<button class="btn btn-primary center-block">RESET PASSWORD</button>
	{{end}}
{{end}}
