{{define "baseHead"}}
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/home.css"}}">
<style type="text/css">
html, body {
	background-color: white;
}
</style>
{{end}}

{{define "baseBody"}}
	<div id="base-content" class="container">
		<form class="form-signin" role="form" action="" method="POST">
			<img src="{{staticURL "/img/logo@2x.png"}}" width="225" height="61" alt="Spruce logo"><br>
			{{if .Error}}
				<div class="text-danger">{{.Error}}</div>
			{{end}}
			<input type="hidden" name="next" value="{{.Next}}">
			<input type="email" class="form-control" name="email" value="{{.Email}}" placeholder="Email Address" required autofocus>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">SIGN IN</button>
			<div id="login-forgot-password" class="text-center">
				<a href="/reset-password" class="forgot-password">Forgot Password?</a>
			</div>
		</form>
	</div>
{{end}}
