{{define "baseHead"}}
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/home.css"}}">
<style type="text/css">
	html, body {
		background: -webkit-linear-gradient(#5E7D8F, #ffffff); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#5E7D8F, #ffffff); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#5E7D8F, #ffffff); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#5E7D8F, #ffffff); /* Standard syntax */
		background-attachment: fixed;
		height: 100%;
	}
	body {
		padding-top: 40px;
		padding-bottom: 40px;
	}
</style>
{{end}}

{{define "baseBody"}}
	<div id="base-content" class="container">
		<form class="form-signin" role="form" action="" method="POST">
			<img src="{{staticURL "/img/login/logo300@2x.png"}}" width="300" height="81" alt="Spruce logo"><br>
			<h2>2 Step Verification</h2>
			<p>A text message with your code has been sent to:<br>(***)&nbsp;***-**{{.LastTwoPhone}}</p>
			{{if .Error}}
				<div class="text-danger">{{.Error}}</div>
			{{end}}
			<input type="code" class="form-control" name="code" placeholder="Enter Code" required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
		</form>
	</div>
{{end}}
