{{define "tail"}}
<script type="text/javascript">
var form = document.getElementById("sendcodeform");
form.addEventListener("submit", function(e) {
	var req = new XMLHttpRequest();
	req.open("POST", ".")

	if (e.preventDefault) {
		e.preventDefault();
	}
	e.returnValue = false;
}, true);
</script>
{{end}}

{{define "body"}}
<h1>Spruce</h1>

<div class="box">
	{{if .LastTwoDigits}}
	<p>To verify this account belongs to you we'll send a verification code to your phone:</p>

	<p><!-- TODO: phone icon --> <span class="phonenumber">(***)-***-**{{.LastTwoDigits}}</span></p>

	<hr>

	<p>Select how you'd like to receive your access code:</p>

	<form id="sendcodeform" method="POST" action="">
	<input type="hidden" name="token" value="{{.Token}}">
	<input type="hidden" name="email" value="{{.Email}}">
	<input type="radio" name="method" value="sms" checked> Text message<br>
	<input type="radio" name="method" value="voice"> Voice call<br>
	<button>Send Code</button>
	</form>
	{{else}}
	<p>There is no phone number associated with your account. Please contact support at <a href="mailto:support@sprucehealth.com">support@sprucehealth.com</a></p>
	{{end}}
</div>

<div id="footer">Need additional help? Contact <a href="mailto:support@sprucehealth.com">Spruce Support</a>.</div>
{{end}}
