{{define "tail"}}
{{end}}

{{define "phonenumber"}}
<p><!-- TODO: phone icon --> <span class="phonenumber">(***)-***-**{{.}}</span></p>
{{end}}

{{define "body"}}
<h1>Spruce</h1>

<div class="box">
	{{if .LastTwoDigits}}
		{{if .EnterCode}}
			<p>We've sent a text message with your verification code. If you don't receive it shortly
			<a href="?token={{.Token}}&amp;email={{.Email}}">resend your code</a>.</p>

			{{template "phonenumber" .LastTwoDigits}}

			<hr>

			<p>Enter the verification code you receive:</p>

			<form method="POST" action="">
			<input type="hidden" name="token" value="{{.Token}}">
			<input type="hidden" name="email" value="{{.Email}}">
			<input type="text" name="code"><br>
			<button>Verify</button>
			</form>
		{{else}}
			<p>To verify this account belongs to you we'll send a verification code to your phone:</p>

			{{template "phonenumber" .LastTwoDigits}}

			<hr>

			<p>Select how you'd like to receive your access code:</p>

			<form method="POST" action="">
			<input type="hidden" name="token" value="{{.Token}}">
			<input type="hidden" name="email" value="{{.Email}}">
			<input type="radio" name="method" value="sms" checked> Text message<br>
			<input type="radio" name="method" value="voice"> Voice call<br>
			<button>Send Code</button>
			</form>
		{{end}}
	{{else}}
		<p>There is no phone number associated with your account. Please contact support
		at <a href="mailto:support@sprucehealth.com">support@sprucehealth.com</a></p>
	{{end}}
</div>

<div id="footer">Need additional help? Contact <a href="mailto:support@sprucehealth.com">Spruce Support</a>.</div>
{{end}}
