@import "flexbox.scss";

$img_directory: "../img/";

body {
	background-color: #F8FAFB;
}

.header {
	@include flexbox();
	@include flexbox-justify-content(center);
	background-color: white;
	padding: 5px;

	img {
		width: 124px;
		height: 34px;
	}
}
