@import "reset.scss";
@import "fonts.scss";
@import "flexbox.scss";
@import "utils.scss";
@import "common.scss";

.featured-states-section {
	background-color: #FAF8FB;
	padding: 20px;
	@include flexbox();
	@include flexbox-direction(column);
	@include flexbox-justify-content(center);
	@include flexbox-align-items(center);
}

.featured-states-title {
	@include font-500();
	color: #1E333A;
	font-size: 30px;
	line-height: 36px;
	margin: 20px 0 20px 0;

	@include respond-to(handhelds) {
		margin: 20px 0 20px 0;
	}
}

.featured-states-container {
	margin-bottom: 25px;
	width: 960px;

	@include respond-to(handhelds) {
		width: 100%;
	}


}

.featured-states-item {
	position: relative;
	border-radius: 6px;
	height: 260px;
	width: 100%;
	margin-top: 20px;
}

.featured-states-text-container {
	position: absolute;	
	@include flexbox();
	@include flexbox-direction(column);
	@include flexbox-justify-content(center);
	@include flexbox-align-items(center);
	width: 100%;
	height: 100%;

	p {
		@include font-700();
		font-size: 30px;
		line-height: 36px;
		color: #ffffff;
	}
}

.featured-states-image{
	position: absolute;
	width: 100%;
	height: 100%;
}

.featured-image-overlay {
	position: absolute;
	background-color: black;
	opacity: 0.4;
	height: 260px;
	width: 100%;
	border-radius: 6px;
}