@import "reset.scss";
@import "fonts.scss";
@import "flexbox.scss";
@import "utils.scss";
@import "common.scss";

// 
// Banner containing image and page description
//
.banner-container {
	position: relative;
	min-height: 260px;
};


.banner-background-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner-image-overlay {
	position: absolute;
	background-color: black;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

.banner-title-description {	
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	position: absolute;
	@include flexbox();
	@include flexbox-direction(column);
	@include flexbox-justify-content(center);
	@include flexbox-align-items(center);
}

.banner-title {
	@include font-700();
	font-size: 40px;
	line-height: 48px;
	color: white;
	max-width: 480px;
	margin-bottom: 0px;
	@include respond-to(handhelds) {
		font-size: 28px;
		line-height: 33px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.banner-description {
		@include font-500();
		font-size: 20px;
		line-height: 24px;
		color: white;
		max-width: 540px;
		margin-top: 14px;
		@include respond-to(handhelds) {
			font-size: 16px;
			line-height: 19px;
			padding-left: 16px;
			padding-right: 16px;
		}
}

.content-container {
	@include flexbox();
	@include flexbox-direction(column);
	@include flexbox-align-items(center);
}

.main-content-container {
	max-width: 960px;
	@include box-sizing(border-box);

	// centers the container
	@include flexbox();
	@include flexbox-direction(row);

	@include respond-to(handhelds) {
		@include flexbox-direction(column);
		margin-left: 10px;
		margin-right: 10px;
	}
	@include respond-to(tablets) {
		@include flexbox-direction(column);
		margin-left: 10px;
		margin-right: 10px;
	}
}

//
// Doctor cards and secondary cards 
//

.secondary-card-container {
	@extend .card-container;

	margin-top: 40px;
	margin-left: 20px;
	width: 31.25%;

	@include respond-to(handhelds) {
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}

	@include respond-to(tablets) {
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}
}

.secondary-card {
	@extend .card;

	// border-box makes it possible to specify padding 
	// without having it factor into the width
	@include box-sizing(border-box);

	margin-bottom: 16px;
	padding: 20px;

	@include respond-to(handhelds) {
		margin-bottom: 12px;
		width: 100%;
	}

	@include respond-to(tablets) {	
		margin-bottom: 12px;
		width: 60%;
	}
}

.nearby-cities-container {
	@include flexbox();
	@include flexbox-wrap(wrap);
	margin-top: 10px;
}

.nearby-city-item {
	padding: 8px;
	border-radius: 4px;
	margin-right: 10px;
	margin-top: 10px;
	border: #0BA5C5 1px solid;
	font-size: 14px;
	line-height: 17px;
	a {
		text-decoration: none;	
		color: #0BA5C5;
		@include font-500();
	}
}

.skin-conditions-description {
	margin-top: 15px;
	color: #728289;
	@include font-300();
	font-size: 14px;
	line-height: 20px;
}

.skin-conditions {
	counter-reset: skin-conditions-counter;
	margin-top: 18px;
	dt {
		position: relative;
		padding-left: 24px;
		padding-bottom: 10px;
		@include font-300();
		font-size: 14px;
		line-height: 20px;
		color: #728289;
	}

	dt:before {
		content: counter(skin-conditions-counter);
		counter-increment: skin-conditions-counter;
		position: absolute;
		left: 0;
		top: 0;
		@include font-500();
		font-size: 14px;
		line-height: 20px;
		color: #728289;
	}
}

.spruce-score-bullets {
	counter-reset: spruce-score-bullets-counter;
	margin-top: 18px;
	dt {
		position: relative;
		padding-left: 24px;
		padding-bottom: 10px;
		@include font-300();
		font-size: 14px;
		line-height: 18px;
		color: #728289;
	}

	dt:before {
		content: counter(spruce-score-bullets-counter, disc);
		counter-increment: spruce-score-bullets-counter;
		position: absolute;
		left: 0;
		top: 0;
		color: #728289;
	}
}

.spruce-score-container {
	margin-top: 20px;
	@include flexbox();
}

.spruce-score {
	height: 36px;
	text-align: center;
	padding-top: 6px;
	border-radius: 4px;
	border: #F5A623 1px solid;
	flex: 0 0 36px;
	@include box-sizing(border-box);

	@include font-500();
	font-size: 18px;
	line-height: 22px;
	color: #F5A623;
}

.spruce-score-description {
	@include font-500();
	color: #728289;
	font-size: 14px;
	line-height: 18px;
	margin-left: 16px;
}
