@import "base.scss";
@import "reset.scss";
@import "fonts.scss";
@import "flexbox.scss";
@import "utils.scss";
@import "common.scss";


$content-width: 600px;

.cta-container {
	background-color: #0BA5C5;
	width: 100%;
	padding: 20px;
	@include box-sizing(border-box);

	@include flexbox();
	@include flexbox-direction(column);
	@include flexbox-align-items(center);
}

.doctor-img {
	border-radius: 100px;
	width: 100px;
	height: 100px;
	border: white 4px solid;
}

.cta-title {
	max-width: 550px;
	@include font-500();
	color: #FFFFFF;
	font-size: 26px;
	line-height: 31px;
	text-align: center;
	margin-top: 20px;
}

.cta-subtitle {
	max-width: $content-width;
	@include font-300();
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-top: 15px;
}

.cta-button {
	@include flexbox-align-self(center);
	background-color: #00CECF;
	border: #0E94B0 2px solid;
	border-radius: 4px;
	width: 220px;
	@include font-700();
	color: #FFFFFF;
	line-height: 17px;
	font-size: 14px;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	text-align: center;
}

.featured-section {
	background-color: #F8FAFB;
	width: 100%;
	padding: 10px;
	@include box-sizing(border-box);
}

.section-title {
	@include font-700();
	text-align: center;
	line-height: 17px;
	font-size: 14px;
	color: #B9C2C5;
}

.featured-contents-container {
	@include flexbox();
	@include flexbox-direction(row);
	@include flexbox-align-items(center);
	@include flexbox-wrap(wrap);
	@include flexbox-justify-content(center);
	// background-color: black;
	margin-top: 25px;
	width: $content-width;
	margin-left: auto;
	margin-right: auto;
	@include respond-to(handhelds) {
		width: auto;
	}
}

.featured-img-item {
	height: 20px;
	width: auto;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.how-it-works-section {
	background-color: #FFFFFF;
	padding: 20px;
	height: 378px;
	overflow: hidden;
	@include respond-to(handhelds) {
		height: auto;
	}
}


.how-it-works-contents-container {
	@include flexbox();
	margin-top: 25px;
	width: $content-width;
	margin-left: auto;
	margin-right: auto;
	@include respond-to(handhelds) {
		width: auto;
	}
}

.how-it-works-text-container {
	margin-top: 10px;
	flex: 0 1 60%;
	@include respond-to(handhelds) {
		width: 100%;
		margin-top: 0px;
		flex: 0 1 auto;

	}
}

.how-it-works-bullets {
	counter-reset: how-it-works-bullets-counter;
	dt {
		position: relative;
		padding-left: 45px;
		padding-top: 2px;
		padding-right: 25px;
		padding-bottom: 25px;
		font-size: 16px;
		line-height: 18px;
		@include font-300();
		color: black;
	}

	dt:before {
		content: counter(how-it-works-bullets-counter);
		counter-increment: how-it-works-bullets-counter;
		position: absolute;
		text-align: center;
		color: #0BA5C5;
		border: #0BA5C5 1px solid;
		@include box-sizing(border-box);
		@include font-500();
		border-radius: 29px;
		padding-top: 4px;
		padding-bottom: 4px;
		height: 29px;
		width: 29px;
		left: 0;
		top: 0;
	}
}

.phone-case-img {
	margin-top: 10px;
	height: 398px;
	width: 195px;
	object-fit: cover;
}

.what-it-costs-section {
	 background-color: #F8FAFB;
	 padding: 20px;
}

.what-it-costs-contents-container {
	width: $content-width;
	margin-top: 25px;
	@include flexbox();
	@include flexbox-direction(row);
	@include flexbox-wrap(wrap);
	margin-left: auto;
	margin-right: auto;

	@include respond-to(handhelds) {
		@include flexbox-align-items(center);
		@include flexbox-direction(column);

		width: auto;
	}
}

.cost-description {
	@include font-300();
	font-size: 16px;
	line-height: 19px;
	color: black;
	margin-left: 20px;
	margin-top: 5px;
	flex: 0 1 85%;

	@include respond-to(handhelds) {
		margin-top: 25px;
		text-align: center;
	}
}

.cost-img {
	width: 67px;
	height: 67px;
}

.cost-disclaimer {
	@include font-300();
	font-size: 14px;
	line-height: 17px;
	color: #8B9FA7;
	margin-top: 20px;
	padding: 10px;
	flex: 0 1 100%;
	@include respond-to(handhelds) {
		margin-top: 25px;
		text-align: center;
	}
}


