#home-doctors {
	text-align: center;

	.text {
		padding-left: 50px;
		padding-right: 50px; }

	img {
		width: 300px;
		height: 300px; }

	.doctor-left {
		display: none; } }

#home-quotes .quote {
	font-size: 21px;
	line-height: 25px; }
