$color-white-90: #E7F2F9;   // White with 90% opacity

.margin {
    margin: 5px auto;
}

.section {
    padding-bottom: 20px;
}

.shaded {
    background-color: $color-greyLight;
}

.white {
    background-color: $color-white;
}

#parent-top {
    background-color: $color-spruceBlue;
}

#parent-image {
    // height: 355px;
    padding-bottom: 0px;
    overflow: hidden;
    h3 {
        margin-top: 20px;
    }
}

.infoblock {
    // margin-bottom: 10px;
}

.doctors {
    margin: 10px;
}

#parent-bottom {
    background-color: $color-spruceBlue;
}

.row {
    div {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.next-step-number {
    margin: auto 10px;
    float: left;
}

.next-step-text {
    margin: auto 10px;
    margin-left: 58px
}

#parent-footer {
    background-color: $color-spruceDarkest;
    padding-top: 42px;
    padding-bottom: 92px;
}


// Text Styling

h1 {
    @include fontSize-20();
    @include font-700();
    color: $color-white;
    margin-top: 18px;
}

h2 {
    @include fontSize-16();
    @include font-700();
    color: $color-spruceBlue;
    margin-top: 26px;
    text-transform: uppercase;
}

h3 {
    @include fontSize-16();
    @include font-500();
    color: $color-spruceDarkest;
    margin-top: 10px;
}

p {
    @include fontSize-16();
    @include font-300();
    color: $color-spruceDarkest;
}

.header-subtext {
    @include fontSize-16();
    @include font-500();
    color: $color-white;
}

.learn-more {
    @include fontSize-16();
    @include font-700();
    color: $color-white;
}

.next-step {
    text-align: left;
}

.footer-link {
    @include fontSize-14();
    @include font-500();
    color: $color-white;
}

.footer-copyright {
    @include fontSize-14();
    @include font-500();
    color: $color-spruceLight;
}


// Image styling

.disclosure-arrow {
    vertical-align: middle;
    text-align: right;
    width: 8px;
    height: 14px;
}

.down-arrow {
    img {
        width: 14px;
        height: 8px;
    }
}

#iphone-image {
    width: 217px;
    height: 253px;
    // position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

.icon {
    width: 68px;
    height: 68px;
    margin: 10px;
}

.icon-step {
    width: 28px;
    height: 28px;
}
