#providers-top {
	background-color: #edf8fd;
	background-image: url("../img/providers/provider_header.jpg");
	padding: 120px 0 120px 0;
	text-align: center;

	h2 {
		@include font-500();
		@include fontSize-largest();
	}
	h3 {
		color: $color-spruceDark;
		@include font-300();
		@include fontSize-base();
	}
	.col-md-12 {
		padding-left: 190px;
		padding-right: 190px;
	}
}
.providers-reach {
	text-align: center;
	h2 {
		margin-top: 46px;
	}
	img {
		margin-top: 58px;
	}
	.bullet-list {
		padding-bottom: 20px;
	}
	.iPad {
		height: 427px;
	}
	.body-text {
		@include font-300();
		@include fontSize-smallest();
		color: #65777D;
	}
}
#providers-footer {
	background-color: $color-spruceGreen;
	color: $color-white;
	@include fontSize-smallest();
	text-align: center;
	padding: 67px 0 67px 0;

	&.blue {
		background-color: $color-spruceBlue;
	}
	&.dark-blue {
		background-color: $color-spruceDarkBlue;
	}
	p {
		color: #C5D3D8;
		font-family: 'MuseoSans-300-Italic';
	}
	h2 {
		padding-bottom: 0px;
		margin-top: 0px;
		padding-top: 0px;
	}

	#email-us {
		color: $color-white;
		@include font-300();
		@include fontSize-smallest();
		margin-top: 26px;
		a {
			text-decoration: underline;
			@include font-500();
			@include fontSize-smallest();	
			color: $color-white;
		}
		a:hover {
			text-decoration: none;
			color: $color-white;
		}
		a:visited {
			color: $color-white;
		}
	}

	#tell-me-more-btn {
		margin-top: 22px;
	}
}

@media screen and (max-width: $phone-max-width) {
	#providers-top {
		padding: 0;
		.col-md-12 {
			padding: 0 10px;
		}
	}
	.providers-reach {
		.iPad {
			height: inherit;
		}
	}
}

.devices {
	text-align: center;
}
.devices img {
	width: 979px;
	height: 371px;
}
@media screen and (max-width: $tablet-max-width) {
	.devices img {
		width: 489px;
		height: 185px;
	}
}
@media screen and (max-width: $phone-max-width)  {
	.devices img {
		width: 244px;
		height: 92px;
	}
}
