#auth-root {
	@include fontSize-smallest();
	@include font-300();
	color: $color-spruceDarkest;
	max-width: 500px;
	margin: 30px auto 0 auto;
	padding: 20px;
	text-align: center;

	img {
		margin-bottom: 30px;
	}
	p {
		margin-bottom: 15px;
		color: #65777D;
	}
	.forgot-password {
		font-size: 18px;
		line-height: 20px;
	}
	.checkbox {
		font-weight: normal;
	}
	.form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
		border: 0;
		border-top: 1px solid #DAE6EB;
		box-shadow: none;
		margin-top: 2px;
	}
	.form-control.last {
		border-bottom: 1px solid #DAE6EB;
	}
	input {
		-webkit-appearance: none;
	}
	button {
		@include font-700();
		@include fontSize-smallest();
		margin-top: 30px;
		width: 100%;
	}

	#login-forgot-password {
		margin-top: 10px;
	}
	#login-forgot-password a,
	#login-forgot-password a:visited {
		font-family: MuseoSans-500Italic;
		color: $color-spruceLight;
		@include fontSize-micro();
		@include font-500-Italic();
	}
}
