.form-signin {
	@include fontSize-smaller();
	max-width: 600px;
	margin: 0 auto;
	padding: 40px 10px 0 10px;
	text-align: center;
	color: $color-spruceDarkest;

	img {
		margin-bottom: 30px;
	}
	p {
		margin-bottom: 15px;
	}
	.forgot-password {
		font-size: 18px;
		line-height: 20px;
	}
	.checkbox {
		font-weight: normal;
	}
	.form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
		border: 0;
		border-top: 1px solid #DAE6EB;
		box-shadow: none;
		margin-top: 2px;
	}
	.form-control.last {
		border-bottom: 1px solid #DAE6EB;
	}
	button {
		@include font-700();
		@include fontSize-smallest();
		margin-top: 20px;
	}
	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	#login-forgot-password {
		margin-top: 10px;
	}
	#login-forgot-password a,
	#login-forgot-password a:visited {
		font-family: MuseoSans-500Italic;
		color: $color-spruceLight;
		@include fontSize-micro();
		@include font-500-Italic();
	}
}
