
{{define "head"}}
<script type="text/javascript">
var Spruce = {
	BaseStaticURL: {{staticURL ""}},
	Account: {{.Account}},
	AccountPermissions: {{.Permissions}}
};
</script>
{{end}}

{{define "tail"}}
<script {{if isEnv "dev"}}type="text/jsx"{{else}}type="text/javascript"{{end}}>
	$(function() {
		var router = new AdminRouter();
		router.root = "/admin/";
		React.renderComponent(Admin({
			router: router
		}), document.getElementById('base-content'));
		Backbone.history.start({pushState: true, root: router.root});
	});
</script>
{{end}}

{{define "body"}}
	<div id="doctor-nav"></div>
{{end}}
