{{define "baseHead"}}
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/base.css"}}">
<link rel="stylesheet" type="text/css" href="{{staticURL "/css/admin.css"}}">
{{template "head" .}}
{{end}}
{{define "head"}}{{end}}

{{define "baseTail"}}
{{if isEnv "dev"}}
<script src="{{staticURL "/js/admin.dev.js"}}" type="text/javascript"></script>
{{else}}
<script src="{{staticURL "/js/admin.min.js"}}" type="text/javascript"></script>
{{end}}
{{template "tail" .}}
{{end}}
{{define "tail"}}{{end}}

{{define "header"}}
{{end}}

{{define "menu-doctors"}}{{end}}
{{define "menu-guides"}}{{end}}

{{define "baseBody"}}
	{{template "header" .}}

	<div id="base-content">
		{{template "body" .}}
	</div>

	<div id="base-footer" class="container">
	{{template "footer" .}}
	</div>
{{end}}

{{define "footer"}}{{end}}
