{{define "head"}}
{{end}}

{{define "tail"}}
{{end}}

{{define "body"}}
	<h2>Dr. {{.Doctor.FirstName}} {{.Doctor.LastName}}</h2>

	<div style="height:30px;">&nbsp;</div>

	<table class="table">
		<tbody>
			<tr><td>NPI</td><td>{{.Doctor.NPI}}</td></tr>
			{{range $name, $value := .Attributes}}
				<tr><td>{{$name}}</td><td>{{$value}}</td></tr>
			{{end}}
		</tbody>
	</table>

	<h4>Medical Licenses</h4>

	<table class="table">
		<thead>
			<tr><th>State</th><th>Number</th><th>Status</th></tr>
		</thead>
		<tbody>
			{{range .MedicalLicenses}}
				<tr><td>{{.State}}</td><td>{{.Number}}</td><td>{{.Status}}</td></tr>
			{{end}}
		</tbody>
	</table>
{{end}}
