{{define "tail"}}
{{end}}

{{define "body"}}
	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<form method="GET" action="" role="form" class="col-md-6">
			<h2>Search doctors</h2>
			<div class="form-group">
				<input required type="text" class="form-control" name="q" value="{{.Query}}" autofocus>
			</div>
			<button type="submit" class="btn btn-primary btn-lg center-block">Search</button>
		</form>
		<div class="col-md-3">&nbsp;</div>
	</div>

	<div class="row">
		{{range .Doctors}}
			<a href="doctor/{{.DoctorID}}">Dr. {{.FirstName}} {{.LastName}} &lt;{{.Email}}&gt;</a><br>
		{{end}}
	</div>
{{end}}
