{{define "menu-doctors"}}class="active"{{end}}

{{define "head"}}
<style type="text/css">
h2 {
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #999;
}
</style>
{{end}}

{{define "tail"}}
<script type="text/javascript">
	var InfoPage = React.createClass({displayName: "InfoPage",
		render: function() {
			function createRow(attr) {
				return React.DOM.tr({key: attr.name},
					React.DOM.td(null, React.DOM.strong(null, attr.name)),
					React.DOM.td({dangerouslySetInnerHTML: {"__html": attr.value}})
				)
			}
			var attrList = [];
			for (var name in this.props.drattributes) {
				attrList.push({name: name, value: this.props.drattributes[name]});
			}
			attrList.sort(function(a, b){ return a.name > b.name; });
			return React.DOM.div(null,
				React.DOM.h2(null, this.props.doctor.long_display_name),
				React.DOM.h3(null, "General Info"),
				React.DOM.table({className: "table"},
					React.DOM.tbody(null,
						React.DOM.tr(null,
							React.DOM.td(null, React.DOM.strong(null, "NPI")),
							React.DOM.td(null, this.props.doctor.npi)),
						React.DOM.tr(null,
							React.DOM.td(null, React.DOM.strong(null, "DEA")),
							React.DOM.td(null, this.props.doctor.dea)),
						attrList.map(createRow)
					)
				)
			);
		}
	});

	var LicensesPage = React.createClass({displayName: "LicensesPage",
		getInitialState: function() {
			return {licenses: []};
		},
		componentWillMount: function() {
			AdminAPI.medicalLicenses(this.props.doctor.id, function(success, licenses) {
				if (this.isMounted()) {
					if (success) {
						this.setState({licenses: licenses || []});
					} else {
						alert("Failed to get licenses");
					}
				}
			}.bind(this));
		},
		render: function() {
			function createRow(lic) {
				return React.DOM.tr({key: lic.state},
					React.DOM.td(null, lic.state),
					React.DOM.td(null, lic.number),
					React.DOM.td(null, lic.status),
					React.DOM.td(null, lic.expiration)
				)
			}
			return React.DOM.div(null,
				React.DOM.h2(null, this.props.doctor.long_display_name),
				React.DOM.h3(null, "Medical Licenses"),
				React.DOM.table({className: "table"},
					React.DOM.thead(null,
						React.DOM.tr(null,
							React.DOM.th(null, "State"),
							React.DOM.th(null, "Number"),
							React.DOM.th(null, "Status"),
							React.DOM.th(null, "Expiration")
						)
					),
					React.DOM.tbody(null,
						this.state.licenses.map(createRow)
					)
				)
			);
		}
	});

	var profileFields = [
		{id: "short_title", label: "Short title", type: "text"},
		{id: "long_title", label: "Long title", type: "text"},
		{id: "short_display_name", label: "Short display name", type: "text"},
		{id: "long_display_name", label: "Long display name", type: "text"},
		{id: "full_name", label: "Full professional name", type: "text"},
		{id: "why_spruce", label: "Why Spruce?", type: "textarea"},
		{id: "qualifications", label: "Qualifications", type: "textarea"},
		{id: "medical_school", label: "Education :: Medical school", type: "textarea"},
		{id: "residency", label: "Education :: Residency", type: "textarea"},
		{id: "fellowship", label: "Education :: Fellowship", type: "textarea"},
		{id: "experience", label: "Experience", type: "textarea"}
	];

	var EditProfile = React.createClass({displayName: "EditProfile",
		getInitialState: function() {
			return {
				profile: {},
				error: "",
				modified: false,
				busy: false
			};
		},
		componentWillMount: function() {
			this.setState({profile: jQuery.extend({}, this.props.profile)});
		},
		componentWillUnmount: function() {
			// TODO: warn if modified before navigating away
		},
		onChange: function(e) {
			var profile = this.state.profile;
			profile[e.target.name] = e.target.value;
			this.setState({modified: true, profile: profile});
		},
		onCancel: function() {
			if (!this.state.busy) {
				this.props.onDone();
			}
			return false;
		},
		onSave: function() {
			if (this.state.busy) {
				return false;
			}
			if (!this.state.modified) {
				this.props.onDone();
				return false;
			}
			this.setState({busy: true});
			AdminAPI.updateCareProviderProfile(this.props.doctor.id, this.state.profile, function(success) {
				if (this.isMounted()) {
					this.setState({busy: false});
					if (success) {
						this.props.onDone();
					} else {
						this.setState({error: "Save failed"});
					}
				}
			}.bind(this));
			return false;
		},
		render: function() {
			var fields = [];
			for(var i = 0; i < profileFields.length; i++) {
				var f = profileFields[i];
				if (f.type == "textarea") {
					fields.push(TextArea({key: f.id, id: f.id, label: f.label, value: this.state.profile[f.id], onChange: this.onChange}));
				} else {
					fields.push(FormInput({key: f.id, id: f.id, type: f.type, label: f.label, value: this.state.profile[f.id], onChange: this.onChange}));
				}
			};
			var alert = null;
			if (this.state.error != "") {
				alert = Alert({"type": "danger"}, this.state.error);
			}
			var spinner = null;
			if (this.state.busy) {
				spinner = React.DOM.img({src: "{{staticURL "/img/loading.gif"}}"});
			}
			return React.DOM.div(null,
				React.DOM.h2(null, this.state.profile.long_display_name),
				React.DOM.h3(null, "Profile"),
				fields,
				React.DOM.div({className: "text-right"},
					alert, spinner,
					React.DOM.button({className: "btn btn-default", onClick: this.onCancel}, "Cancel"),
					" ",
					React.DOM.button({className: "btn btn-primary", onClick: this.onSave}, "Save")
				)
			);
		}
	});

	var ProfilePage = React.createClass({displayName: "ProfilePage",
		getInitialState: function() {
			return {
				busy: false,
				editing: false,
				profile: {}
			};
		},
		componentWillMount: function() {
			this.fetchProfile();
		},
		fetchProfile: function() {
			this.setState({busy: true});
			AdminAPI.careProviderProfile(this.props.doctor.id, function(success, profile) {
				if (success) {
					if (this.isMounted()) {
						this.setState({profile: profile, busy: false});
					}
				} else {
					// TODO
					alert("Failed to get profile")
				}
			}.bind(this));
		},
		edit: function() {
			this.setState({editing: true})
		},
		doneEditing: function() {
			this.setState({editing: false});
			this.fetchProfile();
		},
		render: function() {
			if (this.state.editing) {
				return EditProfile({
					doctor: this.props.doctor,
					profile: this.state.profile,
					onDone: this.doneEditing
				})
			}

			var fields = [];
			for(var i = 0; i < profileFields.length; i++) {
				var f = profileFields[i];
				fields.push(React.DOM.br({key: "br-"+f.id}));
				if (f.type == "textarea") {
					fields.push(React.DOM.div({key: f.id, className: ""},
						React.DOM.strong(null, f.label),
						React.DOM.br(),
						React.DOM.pre(null, this.state.profile[f.id])
					));
				} else {
					fields.push(React.DOM.div({key: f.id, className: "row"},
						React.DOM.div({className: "col-md-3"}, React.DOM.strong(null, f.label)),
						React.DOM.div({className: "col-md-9"}, this.state.profile[f.id])
					));
				}
			};
			return React.DOM.div(null,
				React.DOM.h2(null, this.state.profile.long_display_name),
				React.DOM.div({className: "pull-right"},
					React.DOM.button({className: "btn btn-default", onClick: this.edit}, "Edit")
				),
				React.DOM.h3(null, "Profile"),
				fields
			);
		}
	});

	var Router = Backbone.Router.extend({
		routes : {
			"": "info",
			"licenses": "licenses",
			"profile": "profile"
		},
		info: function() {
			this.current = "";
		},
		licenses: function() {
			this.current = "licenses";
		},
		profile: function() {
			this.current = "profile"
		}
	});

	var router = new Router();

	React.renderComponent(AdminNav(
		{
			router: router,
			items: [
				{
					id: "",
					name: "Info",
					component: InfoPage({
						doctor: {{.Doctor}},
						drattributes: {{.Attributes}}
					}),
				},
				{
					id: "licenses",
					name: "Licenses",
					component: LicensesPage({
						doctor: {{.Doctor}}
					})
				},
				{
					id: "profile",
					name: "Profile",
					component: ProfilePage({
						doctor: {{.Doctor}},
						drattributes: {{.Attributes}}
					})
				}
			]
		}), document.getElementById("doctor-nav"));

	Backbone.history.start();
</script>
{{end}}

{{define "body"}}
	<div id="doctor-nav"></div>
{{end}}
