{{ define "content" }}
<div class="big-text-banner-section">
	<p>Spruce is the industry-leading teledermatology platform.</p>
</div>
<div class="h2-with-image-section white">
	<h3>Practice Builder</h3>
	<p>Move the right visits from office to iPad. Provide high-quality, high-satisfaction care anytime, anywhere.</p>
	<div><img src="{{staticURL "/img/practice-extension/screen_practice@2x.png"}}" id="practice-builder-image" alt="Practice Builder"></div>
</div>
<div class="h2-with-image-section black">
	<h3>Patient App</h3>
	<p>Patients download the HIPAA-compliant app, answer a series of condition-specific questions, take photos of affected areas, and share their pertinent medical history.</p>
	<div><img src="{{staticURL "/img/practice-extension/screen_iphones@2x.png"}}" id="patient-app-image" alt="Patient App"></div>
</div>
<div class="h2-with-image-section white">
	<h3>Physician App</h3>
	<p>You complete the visit on an iPad, using our ePrescribe-enabled treatment plan builder. Secure messaging and scheduled follow-up ensure continuity of care.</p>
	<div><img src="{{staticURL "/img/practice-extension/screen_treatment@2x.png"}}" id="physician-app-image" alt="Physician App"></div>
</div>
<div class="h2-with-image-section black">
	<h3>Virtual Front Office</h3>
	<p>Spruce Care Coordinators act as your virtual front office, reducing your workload. Payments are direct deposited; care records readily available for export.</p>
	<div><img src="{{staticURL "/img/practice-extension/screen_support@2x.png"}}" id="physician-app-image" alt="Virtual Front Office"></div>
</div>
{{ template "whitepaper-section" }}
<div id="find-out-why-section">
	<div id="find-out-why-text">Find out why Spruce is dermatologists’ favorite way to treat patients. 60-day free trial.</div>
	<a href="./get-started" class="button">Request a Demo</a>
</div>
{{ end }}
{{ define "scripts" }}{{ end }}