{{define "base-menu-about-class"}}active{{end}}
{{define "head"}}
{{end}}
{{define "tail"}}
{{end}}
{{define "content"}}
<div id="about-top-banner" class="text-center">
	<div class="container">
		<h2>We’re committed to building quality healthcare experiences accessible anytime, anywhere.</h2>
	</div>
</div>

<div id="about-investors">
		<h2>OUR INVESTORS</h2>
		<div class="investors text-center">
			<img src="{{staticURL "/img/about/investor_kpcb.png"}}" width="185" height="44" alt="Kleiner Perkins Caufield Byers">
			<img src="{{staticURL "/img/about/investor_gv@2x.png"}}" width="131" height="44" alt="Google Ventures">
			<img src="{{staticURL "/img/about/investor_cowboy.png"}}" width="280" height="44" alt="Coyboy Ventures">
			<img src="{{staticURL "/img/about/investor_baseline.png"}}" width="131" height="44" alt="baseline VENTURES">
		</div>
</div>

<div id="about-mission" class="desktop">
	<h2>OUR MISSION</h2>
	<p>For patients in America, accessing quality healthcare is inconvenient, confusing, and expensive. For their physicians, delivering it can be equally frustrating. Both groups struggle with a system that makes it hard to control when and where care occurs, and on whose terms.</p>
	<p>At Spruce, we are passionate about putting that decision back into the hands of patients and physicians, literally. Our patient and physician mobile applications enable the modern house call: patients can submit a “visit” from their smartphone; physicians are able to diagnose and treat with nothing more than an iPad and their expertise.</p>
	<p>There is no single fix for American healthcare, but we can’t imagine a world where technology that connects patients to high-quality care (anytime, anywhere) isn’t a crucial part of the solution. We built this company to make good on that belief, and we’re only just getting started.</p>
</div>

<div id="about-team">
	<h2>TEAM SPRUCE</h2>
	<div class="team">
		<!-- <div class="row text-center"> -->
			<div class="person">
				<img src="{{staticURL "/img/about/rayb@2x.jpg"}}" alt="Photo of Ray Bradford" width="140" height="140"><br>
				<div class="name">Ray Bradford</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/rayl@2x.jpg"}}" alt="Photo of Ray Lillywhite" width="140" height="140"><br>
				<div class="name">Ray Lillywhite</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/brittany@2x.jpg"}}" alt="Photo of Brittany Shade" width="140" height="140"><br>
				<div class="name">Brittany Shade</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/jon@2x.jpg"}}" alt="Photo of Jon Sibley" width="140" height="140"><br>
				<div class="name">Jon Sibley</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/holly@2x.jpg"}}" alt="Photo of Holly Wojcak" width="140" height="140"><br>
				<div class="name">Holly Wojcak</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/kunal@2x.jpg"}}" alt="Photo of Kunal Jham" width="140" height="140"><br>
				<div class="name">Kunal Jham</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/megs@2x.jpg"}}" alt="Photo of Megs Fulton" width="140" height="140"><br>
				<div class="name">Megs Fulton</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/sam@2x.jpg"}}" alt="Photo of Samuel Stauffer" width="140" height="140"><br>
				<div class="name">Samuel Stauffer</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/caitrin@2x.jpg"}}" alt="Photo of Caitrin Abshere" width="140" height="140"><br>
				<div class="name">Caitrin Abshere</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/david@2x.jpg"}}" alt="Photo of David Craig M.D." width="140" height="140"><br>
				<div class="name">David Craig M.D.</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/jessica@2x.png"}}" alt="Photo of Jessica Chiew" width="140" height="140"><br>
				<div class="name">Jessica Chiew</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/michael@2x.png"}}" alt="Photo of Michael Raines" width="140" height="140"><br>
				<div class="name">Michael Raines</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/kaleigh@2x.png"}}" alt="Photo of Kaleigh Yang" width="140" height="140"><br>
				<div class="name">Kaleigh Yang</div>
			</div>
			<div class="person">
				<img src="{{staticURL "/img/about/laurie@2x.png"}}" alt="Photo of Laurie Kohen M.D." width="140" height="140"><br>
				<div class="name">Laurie Kohen M.D.</div>
			</div>
		<!-- </div> -->
	</div>
</div>

<div id="about-join-us">
	<div class="container">
		<div class="text-center">
			<h2>Interested in joining the Spruce team?</h2>
			<p><a href="https://boards.greenhouse.io/sprucehealth#.VZL-sThViko">View open positions</a>.</p>
		</div>
	</div>
</div>
{{end}}
