{{define "base-menu-conditions-treated-class"}}active{{end}}
{{define "head"}}
{{end}}
{{define "tail"}}
{{end}}
{{define "content"}}
<div id="conditions-top">
	<h2>Get treated by a board-certified dermatologist for:</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="condition">Acne</div>
				<div class="condition">Anti-Aging</div>
				<div class="condition">Bed Bugs</div>
				<div class="condition">Cold Sores</div>
				<div class="condition">Athlete's Foot &amp; Ringworm</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="condition">Dry or Itchy Skin</div>
				<div class="condition">Eczema</div>
				<div class="condition">Excessive Sweating</div>
				<div class="condition">Hives</div>
				<div class="condition">Insect Bites or Stings</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="condition">Lice &amp; Scabies</div>
				<div class="condition">Male Hair Loss</div>
				<div class="condition">Poison Oak &amp; Ivy</div>
				<div class="condition">Psoriasis</div>
				<div class="condition">Shaving Bumps &amp; Ingrown Hair</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="condition">Rashes</div>
				<div class="condition">Rosacea</div>
				<div class="condition">Skin Discoloration</div>
				<div class="condition">Tick Bites</div>
			</div>
		</div>
	</div>
</div>

<div id="conditions-approach">
	<h2 class="blue-heading">APPROACH TO CARE</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>We only support treatment of conditions appropriate for telemedicine</h3>
				<p>The conditions you can be treated for on Spruce have been carefully selected by an expert panel of board-certified dermatologists, based on their confidence that the information gathered through the Spruce patient application — photographic and otherwise — enables physicians to practice at or above the standard of care.</p>
			</div>
			<div class="col-md-6">
				<h3>We use evidence-based guidelines to ensure you receive state-of-the-art care</h3>
				<p>You’ll be asked to answer an ‘adaptive’ set of condition-specific questions during your visit (meaning that what you’re asked next changes based on your previous answers). Each question set was developed and reviewed by an expert panel of board-certified dermatologists to ensure it reflects the most up-to-date research.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>We connect you with great doctors, all uniquely qualified to treat you </h3>
				<p>Doctors on Spruce are board-certified US dermatologists. Each has undergone a rigorous interview process, including full criminal and clinical background checks. All doctors in the network have in-person practices too, so you can expect the same level of clinical expertise that you’d experience in person (or better, if you would’ve otherwise seen a general practitioner).</p>
			</div>
			<div class="col-md-6">
				<h3>We take your safety seriously, even if it means helping you find care elsewhere</h3>
				<p>Spruce is not the right place to seek treatment for every dermatologic concern. Sometimes you may require immediate in-person care or a procedure that cannot be done remotely. We ask questions to identify when this is the case, and then work to connect you with the right type of care provider.</p>
			</div>
		</div>
		<div class="conditions-footnote">
			<p>Spruce Health is a telehealth platform, and does not itself provide medical advice, diagnosis, or treatment. The healthcare services made available through the Spruce Health platform are provided by licensed physicians practicing within a group of independently owned practices, collectively known as “Spruce Physicians”.</p>
		</div>
	</div>
</div>

<div id="conditions-footer">
	<h3>Ready to start a visit?</h3>
	<a class="btn btn-primary" href="http://itunes.apple.com/app/id908860329" target="_blank">GET THE APP</a>
</div>
{{end}}
