{{define "head"}}
{{end}}
{{define "tail"}}
{{end}}
{{define "content"}}
<div class="terms">
	<div class="container">
		<h1>We’re committed to providing a better way to see the dermatologist.</h1>

		<p>We’re confident that patients will love the experience of being seen by a dermatologist on Spruce. So in some cases, we may be offering your first Spruce visit free.</p>

		<h2>Free first Spruce visit - Promotion Terms</h2>

		<ul>
			<li>
				<h2>Am I eligible?</h2>
				<ul>
					<li>New patients who created accounts and submitted visits from March 31, 2015 to July 22, 2015, are eligible for a free first visit. In addition, patients who use a promotional link or code will also be available for a free first visit.</li>
					<li>Patients who create multiple accounts or use false names to claim multiple instances of any free first visit promotion will not be eligible for more than one free first visit.</li>
				</ul>
			</li>
			<li>
				<h2>What is covered by a free first visit?</h2>
				<ul>
					<li>Free first visits will be treated the same as a normal paid Spruce visit &mdash; your visit will include diagnosis, personalized treatment plan, and 30 days of follow-up care including the ability to message your care team. Free first visits do not cover the cost of any prescriptions that may be prescribed to you, where appropriate.</li>
				</ul>
			</li>
			<li>
				<h2>When does it expire?</h2>
				<ul>
					<li>The expiration date of the free first visit created by promotion link or code will depend on the specific promotion program.</li>
					<li>The $40 account credit created for the free first visit can only be used once in full, is not transferrable or resellable, and cannot be redeemed for cash.</li>
					<li>Where you have redeemed free first visit account credit for a visit, you will not be eligible for a cash refund in the event that you are not satisfied with your visit, under Spruce’s full refund commitment.</li>
					<li>Spruce reserves the right at any time, without prior notice, to discontinue any promotion or to add to or change the terms of the promotion, including expiration periods. If your account is terminated for any reason, any remaining account credits issued as part of the first visit free promotion will be cancelled.</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{{end}}
