{{define "head"}}
{{end}}

{{define "tail"}}
{{end}}

{{define "content"}}
<div id="home">
	<div id="home-top-banner">
		<div class="container">
			<div class="col-md-7">
				<h1>See a dermatologist,<br>right from your phone.</h1>
				<h2>No appointment necessary.</h2>
				<div class="home-top-buttons">
					<a href="http://itunes.apple.com/app/id908860329" target="_blank" class="appstore"><span class="home-appstore"></span></a>
					<a href="http://itunes.apple.com/app/id908860329" target="_blank" class="appstore"><span class="home-freevisit"></span></a>
				</div>
				<p class="availability">
					Spruce visits are currently available in CA, FL, NY, and PA.<br>
					<a href="#" data-toggle="modal" data-target="#notify-me-modal">Get notified</a> when Spruce is available for you.
				</p>
			</div>
			<div class="col-md-5">
				<div class="iPhone">
					<img src="{{staticURL "/img/home/appscreen_casedetails@2x.jpg"}}" width="278" height="494">
				</div>
			</div>
		</div>
	</div>

	<div id="home-press" class="section">
		<div class="container">
			<h2 class="heading--spruceBlue">FEATURED IN</h2>
			<a href="http://www.vogue.com/13226808/spruce-beauty-app-dermatology/"><img src="{{staticURL "/img/press/press_vogue_promo.png"}}" alt="Vogue"></a>
			<a href="http://www.harpersbazaar.com/culture/features/a2701/best-beauty-apps/"><img src="{{staticURL "/img/press/press_bazaar_promo.png"}}" alt="Harpers Bazaar"></a>
			<a href="http://www.cosmopolitan.com/health-fitness/news/a31548/theres-an-app-for-acne-and-it-works/"><img src="{{staticURL "/img/press/press_cosmo_promo.png"}}" alt="Cosmopolitan"></a>
			<a href="http://www.self.com/flash/technology/2014/10/technology-answer-acne-problem/"><img src="{{staticURL "/img/press/press_self_promo_cropped.png"}}" alt="SELF"></a>
			<a href="http://www.wired.com/2014/09/app-fights-acne-nearly-silly-sounds/"><img src="{{staticURL "/img/press/press_wired_promo.png"}}" alt="Wired"></a>
			<a href="http://gizmodo.com/our-favorite-android-ios-and-windows-phone-apps-of-th-1640099169"><img src="{{staticURL "/img/press/press_gizmodo_promo.png"}}" alt="Gizmodo"></a>
			<a href="http://nymag.com/thecut/2014/10/this-app-claims-it-can-stop-your-acne.html"><img src="{{staticURL "/img/press/press_nymag_promo.png"}}" alt="New York Magazine"></a>
		</div>
	</div>

	<div id="home-info" class="section">
		<h2 class="heading--spruceBlue">HOW IT WORKS</h2>

		<div class="infoblock">
			<div class="container">
				<div class="row">
					<div class="col-md-6 image">
						<img src="{{staticURL "/img/home/home_how_01.jpg"}}" width="444" height="437" class="block-center" alt="3 cards" />
					</div>
					<div class="col-md-6">
						<h3>Start a visit and securely share your symptoms</h3>
						<div class="bullet-list">
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Take photos of your symptoms
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Answer questions and provide medical history
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Spruce is a secure, HIPAA-compliant service
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="infoblock section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 image mobile">
						<img src="{{staticURL "/img/home/home_how_02.jpg"}}" width="444" height="500" class="block-center" alt="3 cards" />
					</div>
					<div class="col-md-6">
						<h3>Get a personalized treatment plan in 24 hours</h3>
						<div class="bullet-list">
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Diagnosis from a board-certified dermatologist
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Detailed, easy-to-follow instructions you can access anytime
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Prescriptions sent digitally to your local pharmacy
							</div>
						</div>
					</div>
					<div class="col-md-6 image desktop">
						<img src="{{staticURL "/img/home/home_how_02.jpg"}}" width="444" height="500" class="block-center" alt="3 cards" />
					</div>
				</div>
			</div>
		</div>

		<div class="infoblock ongoing-care">
			<div class="container">
				<div class="row">
					<div class="col-md-6 image">
						<img src="{{staticURL "/img/home/home_how_03.jpg"}}" width="444" height="402" class="block-center" alt="3 cards" />
					</div>
					<div class="col-md-6">
						<h3>Ongoing care, on your terms</h3>
						<div class="bullet-list">
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Timely, personal responses to questions after your visit
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Easy prescription refills and follow-up visits with your doctor
							</div>
							<div class="bullet-list-item">
								<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Export and share your Spruce care record with your primary care physician
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mobile" style="padding-bottom: 40px;">
			<a href="/conditions-treated" class="btn btn--transparent-spruceBlue">VIEW CONDITIONS TREATED</a>
		</div>
	</div>

<!-- @samuel 2015-05-19 Temporarily removed until video is updated
	<div id="home-comprehensive-care" class="section desktop">
		<h2>Comprehensive care centered on you.</h2>
		<iframe src="https://player.vimeo.com/video/106692638?portrait=0&amp;byline=0&amp;badge=0&amp;title=0" width="720" height="404" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p>Ready to start a visit?</p>
		<a href="http://itunes.apple.com/app/id908860329" target="_blank" class="appstore btn btn-primary" role="button">GET THE APP</a>
	</div>
-->

	<div id="home-quality" class="section desktop">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="iPhone">
						<img src="{{staticURL "/img/home/appscreen_menu@2x.jpg"}}" width="278" height="494">
					</div>
				</div>
				<div class="col-md-7 info">
					<h2 class="heading--spruceBlue">CONDITIONS TREATED</h2>
					<div class="large-heading">Dermatologists on Spruce treat a wide variety of skin and hair problems.</div>
					<a href="/conditions-treated" class="btn btn--transparent-spruceBlue">VIEW CONDITIONS TREATED</a>
				</div>
			</div>
		</div>
	</div>

	<div id="home-price-banner" class="section">
		<h2 class="heading">WHAT IT COSTS</h2>
		<img class="price" src="{{staticURL "/img/home/icon_price@2x.png"}}" width="170" height="170" alt="$40">
		<div class="large-heading">A visit on Spruce is $40 and includes:</div>
		<div class="container info">
			<div class="row">
				<div class="col-md-4 item">
					<img src="{{staticURL "/img/home/cost_icon_clock@2x.png"}}" width="54" height="55"> 24 hour response from your dermatologist
				</div>
				<div class="col-md-4 item">
					<img src="{{staticURL "/img/home/cost_icon_tp@2x.png"}}" width="54" height="55"> Diagnosis &amp; personalized treatment plan
				</div>
				<div class="col-md-4 item">
					<img src="{{staticURL "/img/home/cost_icon_messages@2x.png"}}" width="54" height="55"> 30 days of post-visit messaging
				</div>
			</div>
		</div>
	</div>

	<div id="home-doctors" class="section">
		<div class="container">
			<div class="row text-center text">
				<div class="col-md-12">
					<h2 class="heading heading--spruceBlue">BEST-IN-CLASS DOCTORS</h2>
					<div class="heading heading--large u-colorSpruceDarkest">Board-certified dermatologists from top medical schools in the U.S.</div>
					<a href="/meet-the-doctors" class="btn btn--transparent-spruceBlue desktop">MEET THE DOCTORS</a>
				</div>
			</div>
			<div class="row desktop">
				<div class="col-md-4 doctor-left">
					<img src="{{staticURL "/img/home/dr_newman.png"}}" width="400" height="400" alt="Photo of Dr Lamm">
				</div>
				<div class="col-md-4 col-sm-6 doctor-middle">
					<img src="{{staticURL "/img/home/dr_crosby.png"}}" width="400" height="400" alt="Photo of Dr Crosby">
				</div>
				<div class="col-md-4 col-sm-6 doctor-right">
					<img src="{{staticURL "/img/home/dr_srivastava.png"}}" width="400" height="400" alt="Photo of Dr Srivastava">
				</div>
			</div>
		</div>
	</div>

	<div id="home-quotes" class="section">
		<h2 class="heading--white">PATIENTS LOVE SPRUCE</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="quote">
						“Quick, no time off to make an appointment, no waiting in waiting rooms...I wish all of my doctors' appointments could be like this!”
					</div>
					<div class="quote">
						“When you go to the doctor, you often feel rushed and forget all your questions. However, with Spruce, I didn't feel rushed and could go back and ask Dr. Fung any follow-up questions.”
					</div>
				</div>
				<div class="col-md-6">
					<div class="quote">
						“Highly recommend! I felt this was almost more thorough than a real doctors office. Very personable with written treatment instructions. Care coordinator even went as far as to find coupons knowing I did not have insurance.”
					</div>
					<div class="quote">
						“Fantastic! I’ve been to the dermatologist before and never have they been as caring and attentive as the doctors on Spruce!”
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="home-dr-interest" class="section desktop">
		<h2 class="large-heading--white">Are you a dermatologist interested in Spruce?</h2>
		<a href="/providers" class="btn btn--transparent-white">LEARN MORE</a>
	</div>

	<div id="conditions-footer" class="mobile">
		<h3>Ready to start a visit?</h3>
		<a class="btn btn-primary appstore" href="http://itunes.apple.com/app/id908860329" target="_blank">GET THE APP</a>
	</div>
</div>
{{end}}
