{{define "head"}}
{{end}}

{{define "tail"}}
{{end}}

{{define "content"}}
	<div id="header" class="text-center">
		<img src="{{staticURL "/img/home/spruce_logo@2x.png"}}" width="194" height="61" alt="Spruce Logo">
	</div>

	<div id="hometopbar" class="text-center">
		<div class="container">
			<h1>A better way to see the&nbsp;doctor.</h1>
			<h2>The best way to be treated for&nbsp;acne.</h2>
			<a target="_blank" href="https://rink.hockeyapp.net/apps/aece9b43c5b8cfc2bf07dd52d1937143" class="btn btn-primary" role="button">Get the App</a>
		</div>
	</div>

	<div class="infoblock">
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-center">
					<div class="heading">
						<h2>No waiting for an appointment.</h2>
						<p>Start a Spruce visit and securely share information with a board-certified dermatologist from your phone.</p>
					</div>
					<hr class="desktop">
					<div class="row subrow">
						<div class="col-md-1 col-sm-1">&nbsp;</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_camera@2x.png"}}" width="60" height="60" alt="Camera Icon">
							<p>Take photos of where you’re experiencing symptoms.</p>
						</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_visit@2x.png"}}" width="60" height="60" alt="Clipboard Icon">
							<p>Answer questions about your skin and medical history.</p>
						</div>
						<div class="col-md-1 col-sm-1">&nbsp;</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="iPhone center-block">
						<img src="{{staticURL "/img/home/screen_home@2x.png"}}" width="250" height="444" alt="Screenshot">
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="mobile">

	<div class="infoblock">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="iPhone center-block">
						<img src="{{staticURL "/img/home/screen_treatment@2x.png"}}" width="250" height="444" alt="Screenshot">
					</div>
				</div>
				<div class="col-md-7 text-center">
					<div class="heading">
						<h2>Get results, fast.</h2>
						<p>In 24 hours a board-certified dermatologist will review your case and create your personal treatment plan with appropriate prescriptions.</p>
					</div>
					<hr class="desktop">
					<div class="row subrow">
						<div class="col-md-1 col-sm-1">&nbsp;</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_prescription@2x.png"}}" width="60" height="60" alt="Prescription pull bottle icon">
							<p>Prescriptions are the most effective way to treat acne.</p>
						</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_treatment@2x.png"}}" width="60" height="60" alt="Pen and paper icon">
							<p>Easy to follow regimen &amp; instructions, accessible anytime.</p>
						</div>
						<div class="col-md-1 col-sm-1">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="mobile">

	<div class="infoblock">
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-center">
					<div class="heading">
						<h2>Ongoing care, on your terms.</h2>
						<p>Spruce helps you stay on track and informed.</p>
					</div>
					<hr class="desktop">
					<div class="row subrow">
						<div class="col-md-1 col-sm-1">&nbsp;</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_message@2x.png"}}" width="60" height="60" alt="Message bubble icon">
							<p>Message your doctor with questions.</p>
						</div>
						<div class="col-md-5 col-sm-5">
							<img src="{{staticURL "/img/home/icon_resources@2x.png"}}" width="60" height="60" alt="Book icon">
							<p>Read free articles and prescription guides.</p>
						</div>
						<div class="col-md-1 col-sm-1">&nbsp;</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="iPhone center-block">
						<img src="{{staticURL "/img/home/screen_case@2x.png"}}" width="250" height="444" alt="Screenshot">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="doodad">
		<div class="container">
			<h2>No surprise medical bills.</h2>
			<h3>A Spruce visit is $40.</h3>
			<a target="_blank" href="https://rink.hockeyapp.net/apps/aece9b43c5b8cfc2bf07dd52d1937143" class="btn btn-primary" role="button">Get the App</a>
		</div>
	</div>

	<div id="meetdoctors" class="container">
		<div class="row text-center">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-10">
				<h2>Meet our doctors.</h2>
				<h3>We hand selected top, board-certified dermatologists from across the United States.</h3>
			</div>
			<div class="col-md-1">&nbsp;</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 col-sm-4 doctor">
				<img src="{{staticURL "/img/home/doctor_crosby.png"}}" width="100" height="100" alt="Image of a face">
				<div class="bio">
					<h4>Dr. Christopher Crosby</h4>
					<h5>Board-Certified Dermatologist</h5>
					<hr>
					<p>I’m looking forward to providing personalized, high quality care that fits easily into my patients' busy lives.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 doctor">
				<img src="{{staticURL "/img/home/doctor_kohen.png"}}" width="100" height="100" alt="Image of a face">
				<div class="bio">
					<h4>Dr. Laurie Kohen</h4>
					<h5>Board-Certified Dermatologist</h5>
					<hr>
					<p>I’m excited about new ways to provide excellent care for patients with limited access to dermatologists.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 doctor">
				<img src="{{staticURL "/img/home/doctor_muirhead.png"}}" width="100" height="100" alt="Image of a face">
				<div class="bio">
					<h4>Dr. Trevor Muirhead</h4>
					<h5>Board-Certified Dermatologist</h5>
					<hr>
					<p>I’m eager to reach new patients who previously found professional care inaccessible and help them look their best.</p>
				</div>
			</div>
		</div>
	</div>
 {{end}}
