{{define "head"}}
{{end}}

{{define "tail"}}
	<script type="text/javascript">
		$('#learn-more-link').click(function(event) {
			$('html, body').animate({
				scrollTop: $("#parent-image").offset().top
			}, 500);
		});
	</script>
{{end}}

{{define "content"}}
<div id="parent-top" class="section top">
	<div class="container">
		<h1>{{.ChildFirstName}} would like to see a board-certified dermatologist on Spruce to treat {{.ChildPossessivePronoun}} acne.</h1>
		<p class="header-subtext">Before a doctor can treat {{.ChildPossessivePronoun}} case, we need to obtain parental consent as any in-person dermatologist’s office would.</p>
		<a class="flexy-btn--white" href="/pc/{{.ChildID}}/start">
			<div class="item0"></div>
			<span class="item1">GET STARTED</span>
			<img class="disclosure-arrow item2" src="{{staticURL "/img/pc/right_arrow_sblue@2x.png"}}" />
		</a>
		<a id="learn-more-link" href="#more">
			<div class="learn-more">
				LEARN MORE
			</div>
			<div class="down-arrow">
				<img src="{{staticURL "/img/pc/down_arrow@2x.png"}}" />
			</div>
		</a>
	</div>
</div>
<div id="parent-image" class="section shaded">
	<div class="container">
		<h3>With Spruce, your child’s acne can be professionally treated by a board-certified dermatologist right from their phone.</h3>
		<img id="iphone-image" src="{{staticURL "/img/pc/CasePhone.png"}}" />
	</div>
</div>
<div id="parent-how" class="section white">
	<div class="container">
		<h2>HOW IT WORKS</h2>
		<div class="row">
			<div class="col-xs-12 infoblock">
				<img id="how-icon-1" class="icon" src="{{staticURL "/img/pc/icon_onlinevisit.png"}}" />
				<h3>A Secure Online Visit</h3>
				<p>Your child answers questions, provides their medical history, and takes photos of their acne in our HIPAA-compliant app.</p>
				<p>Just like an in-person doctor’s office, your child needs parental consent to submit their visit for review by a board-certified dermatologist.</p>
			</div>
			<div class="col-xs-12 infoblock">
				<img id="how-icon-1" class="icon" src="{{staticURL "/img/pc/icon_treatmentplan.png"}}" />
				<h3>Easy-To-Follow Treatment Plan</h3>
				<p>After your child submits their visit, a board-certified dermatologist will review their case and provide a diagnosis and personalized treatment plan within 24 hours. </p>
				<p>Their treatment plan will include any appropriate prescriptions, detailed instructions on how to use them, and a set of skin care guides that your child can access anytime. </p>
			</div>
			<div class="col-xs-12 infoblock">
				<img id="how-icon-1" class="icon" src="{{staticURL "/img/pc/icon_ongoingcare.png"}}" />
				<h3>Comprehensive, Ongoing Care</h3>
				<p>Any medications your child is prescribed will be sent digitally to their chosen pharmacy, available for you to pick up.</p>
				<p>Should your child have any questions about their diagnosis, treatment plan, or prescriptions after their visit, they can message both a Spruce care coordinator and their doctor at any time.</p>
			</div>
		</div>
	</div>
</div>
<div id="parent-doctors" class="section shaded">
	<div class="container">
		<h2>MEET THE DOCTORS</h2>
		<div class="row doctors">
			<div class="col-xs-4 doctor-left">
				<img class="icon" src="{{staticURL "/img/pc/icon_drcrosby.png"}}" />
			</div>
			<div class="col-xs-4 doctor-left">
				<img class="icon" src="{{staticURL "/img/pc/icon_drelrashidy.png"}}" />
			</div>
			<div class="col-xs-4 doctor-left">
				<img class="icon" src="{{staticURL "/img/pc/icon_drfung.png"}}" />
			</div>
		</div>
		<p>Each doctor on Spruce is a board-certified dermatologist and has undergone a rigorous interview process, including full criminal and clinical background checks.</p>
		<p>All doctors in the network also have in-person practices, so you can expect the same level of clinical expertise that you’d experience in a typical office visit (or better, if you would’ve otherwise seen a general practitioner).</p>
	</div>
</div>
<div id="parent-costs" class="section white">
	<div class="container">
		<h2>WHAT IT COSTS</h2>
		<img class="icon" src="{{staticURL "/img/pc/icon_price.png"}}" />
		<h3>A visit on Spruce is $40 and includes:</h3>
		<p>A response within 24 hours from a board-certified dermatologist</p>
		<p>A diagnosis and personalized treatment plan</p>
		<p>30 days of post-visit messaging with your care team</p>
	</div>
</div>
<div id="parent-stay-informed" class="section shaded">
<div id="parent-next-steps" class="section white">
	<div class="container">
		<h2>WHAT HAPPENS NEXT</h2>
		<div class="next-step">
			<div class="next-step-number">
				<img class="icon-step" src="{{staticURL "/img/pc/icon_step_1@2x.png"}}" />
			</div>
			<div class="next-step-text">
				<p>You provide consent for your child’s visit by creating a Spruce account and uploading a photo of your ID (so we can verify that you are of age to consent to the medical treatment of a minor).</p>
			</div>
		</div>
		<div class="next-step">
			<div class="next-step-number">
				<img class="icon-step" src="{{staticURL "/img/pc/icon_step_2@2x.png"}}" />
			</div>
			<div class="next-step-text">
				<p>Your child pays for and submits their visit in the Spruce app.</p>
			</div>
		</div>
		<div class="next-step">
			<div class="next-step-number">
				<img class="icon-step" src="{{staticURL "/img/pc/icon_step_3@2x.png"}}" />
			</div>
			<div class="next-step-text">
				<p>We’ll notify you via email when their case has been treated by a dermatologist and for any other major updates to their case.</p>
			</div>
		</div>
		<div class="next-step">
			<div class="next-step-number">
				<img class="icon-step" src="{{staticURL "/img/pc/icon_step_4@2x.png"}}" />
			</div>
			<div class="next-step-text">
				<p>You can sign in to your account anytime to view your child’s treatment plan and messages with their care team.</p>
			</div>
		</div>
	</div>
</div>
<div id="parent-bottom" class="section bottom">
	<div class="container">
	<h1>Ready to provide approval for your child's acne treatments?</h1>
		<a class="flexy-btn--white" href="/pc/{{.ChildID}}/start">
			<div class="item0"></div>
			<span class="item1">GET STARTED</span>
			<img class="disclosure-arrow item2" src="{{staticURL "/img/pc/right_arrow_sblue@2x.png"}}" />
		</a>
	<h1>Still have questions? Check out the parent FAQs</h1>
		<a class="flexy-btn--transparent-white" href="/pc/faq">
			<div class="item0"></div>
			<span class="item1">VIEW PARENT FAQs</span>
			<img class="disclosure-arrow item2" src="{{staticURL "/img/pc/right_arrow_white@2x.png"}}" />
		</a>
	</div>
</div>
<div id="parent-footer" class="section footer">
	<div class="container">
		<a class="footer-link" href="/pc/faq">PARENT FAQ</a><br><br>
		<a class="footer-link" href="/contact">CONTACT</a><br><br>
		<a class="footer-link" href="/about">THE COMPANY</a><br><br>
		<a class="footer-link" href="/terms">TERMS &amp; PRIVACY</a><br><br>
		<span class="footer-copyright">&copy; SPRUCE HEALTH 2015</span><br>
	</div>
</div>
{{end}}