{{define "base-menu-providers-class"}}active{{end}}
{{define "head"}}
{{end}}
{{define "tail"}}
{{end}}
{{define "content"}}
<div id="providers-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>A new way to provide high-quality, high-satisfaction care</h2>
				<h3>A more flexible practice is here, putting you at the forefront of dermatology.</h3>
			</div>
		</div>
	</div>
</div>

<div class="providers-reach">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="heading heading--spruceBlue">REACH MORE PATIENTS</h2>
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Grow your patient base beyond your practice’s zip code
					</div>
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Provide high-quality care to patients who couldn’t otherwise access it
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="heading heading--spruceBlue">PRACTICE FLEXIBLY</h2>
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> No need to sign up for shifts — treat patients when you have the time, right from an iPad
					</div>
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Payments are direct deposited into your bank account
					</div>
				</div>
			</div>
		</div>
		<div class="iPad iPad--white u-blockAlignCenter">
			<img src="{{staticURL "/img/providers/provider_screen01@2x.jpg"}}" width="634" height="476" alt="iPad screen with case history shown">
		</div>
	</div>
</div>

<div class="providers-reach providers-reach--alternate">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="heading heading--spruceBlue">MORE CARE, LESS OVERHEAD</h2>
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Patient history collected for you; software streamlines workflow so you can focus on care
					</div>
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Spruce MAs handle admin work and non-clinical patient questions
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="heading heading--spruceBlue">SET PATIENTS UP FOR SUCCESS</h2>
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Mobile treatment plan for improved education and adherence
					</div>
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Provide follow-up care and build patient relationships over time
					</div>
				</div>
			</div>
		</div>
		<div class="iPad iPad--black u-blockAlignCenter">
			<img src="{{staticURL "/img/providers/provider_screen02@2x.jpg"}}" width="634" height="476" alt="iPad screen with case history shown">
		</div>
	</div>
</div>

<div class="providers-reach">
	<h2 class="heading heading--spruceBlue">RIGOROUS CLINICAL &amp; SECURITY STANDARDS</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Guided intake for each condition rooted in evidence-based practice
					</div>
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> Established triage protocols for any case that cannot be treated at or above standard of care
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="bullet-list">
					<div class="bullet-list-item">
						<img src="{{staticURL "/img/home/cross_bullet@2x.png"}}" width="10" height="10" /> HIPAA-compliant and secure - encryption and strict measures to protect patient health information
					</div>
				</div>
			</div>
		</div>
		<div class="iPad iPad--white u-blockAlignCenter">
			<img src="{{staticURL "/img/providers/provider_screen03@2x.jpg"}}" width="634" height="476" alt="iPad screen with case history shown">
		</div>
	</div>
</div>

<div id="providers-footer">
	<h2 class="heading heading--white">Interested to learn more for you or your practice?</h2>
	<div>Get in touch with us at <a href="mailto:md@sprucehealth.com">md@sprucehealth.com</a></div>
</div>
{{end}}
