{{define "base-menu-providers-class"}}active{{end}}
{{define "head"}}
{{end}}
{{define "tail"}}
{{end}}
{{define "content"}}
<div id="providers-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>A More Flexible Practice is Here</h2>
			</div>
		</div>
	</div>
</div>

<div class="providers-reach">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="heading heading--spruceBlue">PUTTING YOU AT THE FOREFRONT OF DERMATOLOGY</h2>
				<p class="body-text">
					We provide solutions for physicians who want to use the Spruce platform as an extension of their in-person practices, and also for those who want to join a teledermatology-only practice group.
				</p>
				<div>
					<img src="{{staticURL "/img/providers/devices@2x.png"}}" width="979" height="371" />
				</div>
			</div>
		</div>
	</div>
</div>

<div id="providers-footer" class="blue">
	<h2 class="heading heading--white">I am interested in using Spruce for my practice</h2>
	<p>Offer existing patients the opportunity to conduct virtual visits with you.</p>
	<div><a href="/practices" class="btn btn--transparent-white desktop" id="tell-me-more-btn">TELL ME MORE</a></div>
</div>

<div id="providers-footer" class="dark-blue">
	<h2 class="heading heading--white">I am interested in joining Spruce Physicians</h2>
	<p>Make yourself available to treat new patients in states where you’re licensed.</p>
	<div id="email-us">Email us at <a href="mailto:md@sprucehealth.com">md@sprucehealth.com</a> for more information.</div>
</div>
{{end}}
