<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Informed Consent</title>
	<style type="text/css">
	body {
		background-color: #FFF;
		font-family:"Museo Sans", "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.4em;
		color: #506066;
		padding: 10px;
	}
	.callout {
		border-color: #E8F0F3;
		color: #051D25;
		font-weight: 400;
		margin-top: 40px;
	}
	.intro {
		margin-bottom: 70px;
	}
	.simplystated {
		font-style: italic;
		color: #506066;
		font-weight: 400;
		font-size: 16px;
	}
	.section-divider {
		height: 90px;
	}
	h1 {
		font-weight: 400;
		font-size: 28px;
		color: #051D25;
		line-height: 1.2em;
		margin: 0;
	}
	h2 {
		font-weight: 400;
		font-size: 17px;
		color: #051D25;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
	hr {
		background-color: #C5D3D8;
		border-color: #C5D3D8;
		border-top: 1px;
		margin-top: 30px;
	}
	</style>
</head>
<body>
	<h1>Patient Consent to Use of Telehealth</h1>

	<hr>

	<div class="callout">
		<p>Note from Spruce: We want to make it easier and more convenient for you to get great healthcare by connecting you with healthcare providers via our mobile application.  Providing healthcare via technology is often referred to as “telehealth.”  This document describes the potential benefits and risks and asks you to consent to the use of telehealth as part of the Spruce Service.  While we believe the benefits of telehealth outweigh the risks, we want you to make an informed decision about your care and ask you to read this patient consent carefully.</p>
	</div>

	<hr>

	<br>

	<p>In using the Spruce Service, you will be consulting with a licensed healthcare provider (“Provider”) solely via the use of “telehealth.”  Telehealth involves the delivery of healthcare services using electronic communications, information technology or other means between a healthcare provider and a patient who are not in the same physical location.  Telehealth may be used for diagnosis, treatment, follow-up and/or patient education, and may include, but is not limited to:</p>

	<ul>
	<li>Electronic transmission of medical records, photo images, personal health information or other data between a patient and a healthcare provider</li>
	<li>Interactions between a patient and healthcare provider via audio, video and/or data communications</li>
	<li>Use of output data from medical devices, sound and video files</li>
	</ul>

	<p>Provider(s) using the Spruce Service will be interacting with you solely via use of the Spruce Service.  As a result, all of the medical care and treatment you receive from such Providers will be provided via telehealth, and you will not be able to meet with your Provider “in-person.”</p>

	<p>The electronic systems used in the Spruce Service will incorporate network and software security protocols to protect the privacy and security of health information and imaging data, and will include measures to safeguard the data to ensure its integrity against intentional or unintentional corruption.</p>

	<hr>

	<h2>Anticipated Benefits:</h2>

	<p>The use of telehealth by Providers through the Spruce Service may have the following benefits:</p>

	<ul>
		<li>Making it easier and more efficient for you to access medical care for the conditions treated by Providers  </li>
		<li>Reducing wait times for diagnosis, treatment, and appropriate prescriptions</li>
		<li>Allowing you to obtain medical care and treatment by Providers at times that are convenient for you</li>
		<li>Avoiding unnecessary travel and allowing you to obtain medical care from the comfort and privacy of your home</li>
		<li>Enabling ongoing care and follow-up communication with your Providers on your terms and without travel or missed work/school </li>
	</ul>

	<hr>

	<h2>Possible Risks:</h2>

	<p>While the use of telehealth may provide numerous benefits, there are also potential risks.  These risks include, but may not be limited to, the following:</p>

	<ul>
		<li>The information transmitted to your Provider(s) may not be sufficient (e.g. poor resolution of images) to allow for appropriate medical decision-making by the Provider(s)</li>
		<li>The inability of your Provider(s) to conduct certain tests or assess vital signs in-person may in some cases prevent the Provider(s) from providing a diagnosis or treatment or from identifying the need for emergency care</li>
		<li>Your Provider may not be able to provide medical treatment for your particular condition, and you may be required to seek alternative healthcare or emergency care services</li>
		<li>Delays in medical evaluation/treatment could occur due to unavailability of Providers or the possibility of deficiencies or failures of the technology or electronic equipment used</li>
		<li>In rare instances, security protocols or safeguards could fail, causing a breach of privacy</li>
		<li>Given regulatory requirements in certain jurisdictions, your Provider(s) treatment options, especially pertaining to certain prescriptions, may be limited</li>
		<li>In rare cases, a lack of access to all of your medical records may result in adverse drug interactions or allergic reactions or other judgment errors</li>
	</ul>

	<hr>

	<h2>By Consenting to this Form, I Understand and Agree to the Following:</h2>

	<ol>
		<li>All medical care and treatment I receive from Providers using the Spruce Service will be provided using telehealth and my Providers will not be able to provide any medical care and treatment to me without the use of telehealth.</li>
		<li>The delivery of healthcare services via telehealth is an evolving field and the use of telehealth in my medical care and treatment from Providers may include uses of technology not specifically described in this Patient Consent.</li>
		<li>While the use of telehealth may provide potential benefits to me, as with any medical care service (in-person or using telehealth technology) no such benefits or specific results can be guaranteed.  My condition may not be cured or improved, and in some cases, may get worse.</li>
		<li>There are certain potential risks to me in the use of telehealth, including but not limited to the risks described in this Patient Consent.</li>
		<li>I have the right to withhold or withdraw my consent to the use of telehealth at any time by terminating my use of the Spruce Service.</li>
		<li>I have read the Notice of Privacy Practices provided to me by Spruce, and I understand that my medical information is subject to all applicable laws regarding the confidentiality of healthcare information.  I have the right to access and amend my health information in accordance with applicable federal and state laws.</li>
		<li>The use of telehealth involves electronic communication of my personal medical information to Providers who may be located in other areas, including outside of the state in which I reside.</li>
		<li>It is my duty to provide each Provider providing services through the Spruce Service all information relevant to my medical care, including all relevant information regarding care that I may have received or may be receiving from other healthcare providers outside of the Spruce Service.</li>
		<li>My Provider may determine in his or her sole discretion that my condition is not suitable for treatment using the Spruce Service and that I may need to seek medical care and treatment from a specialist or other healthcare provider outside of the Spruce Service.</li>
		<li>I am fully responsible for payment for all services provided by Providers or through use of the Spruce Service.</li>
	</ol>

	<hr>

	<h2>By checking the box corresponding to this Patient Consent, I hereby:</h2>

	<ol>
		<li>Represent that I have read this Patient Consent carefully, and that I understand the benefits and risks of the use of telehealth in the medical care and treatment provided to me by Providers using the Spruce Service; and</li>
		<li>Give my informed consent to the use of telehealth by Providers using the Spruce Service under the terms described in this Patient Consent.</li>
	</ol>
</body>
</html>
